[2017-04-12 09:41] godzone opened #6 "Database connections not being closed"
After upgrading to 6.2.16-1.20170331, we are now getting a significant number of idle sessions on the sympa database. If I don't close them by killing the backends we run out of available connections and that then impacts other services.

The last query executed in most of the sessions would appear to be
SELECT bounce_subscriber AS "bounce", bounce_address_subscriber AS "bounce_address", bounce_sc

[2017-04-12 09:45] racke commented on #6
@godzone, which SQL database are you using?. Also please post the query as ```code```, so I can copy it from here easily.

[2017-04-12 09:46] godzone commented on #6
Sorry, I cut and pasted from pg_stat_activity.
DB is PostgreSQL 9.5.6 on x86_64-redhat-linux-gnu

[2017-04-12 09:50] godzone commented on #6
`SELECT bounce_subscriber AS "bounce", bounce_address_subscriber AS "bounce_address", bounce_score_subscriber AS "bounce_score", custom_attribute_subscriber AS "custom_attribute", date_part('epoch',date_subscriber) AS "date", user_subscriber AS "email", suspend_end_date_subscriber AS "enddate", comment_subscriber AS "gecos", include_sources_subscriber AS "id", included_subscriber AS "included", nu

[2017-04-12 09:51] godzone commented on #6
This isn't the only query but seems to be the last that most of the sessions executed.

[2017-04-12 09:52] godzone commented on #6
Its late here so will leave this until tomorrow.

[2017-04-12 12:39] miralgj opened #7 "Editing Moderators Requires Restart to Take Effect"
Version: 6.2.14
OS: RHEL 7

When adding, or editing, a list's moderator list in a newsletter list, newly added moderators are rejected by Sympa as not having permission to send to the list until the Sympa software is restarted.

From what I can tell, when the list config changes it's supposed to trigger a cache update in the database but I don't believe this is ocurring.

[2017-04-12 12:49] racke commented on #7
IMHO, caching of list owners and moderators is **severely flawed** in 6.2. Ran into the same problem a while ago and I finally resorted to just disable this sort of caching by a hack in the code.

Thanks for the report.

[2017-04-12 12:50] miralgj commented on #7
@racke Can you share the hack that you did? I'd love to work around it the same way if possible.

[2017-04-12 13:04] racke commented on #7
Let me stress that it is a *hack* and may cause problems. Certainly not a proper fix.

Method get_admins in src/lib/Sympa/List.pm:

[code]

I also patched wwsympa.cgi, because changes to moderators etc. didn't end up in the database:

[code]

[2017-04-12 13:18] miralgj commented on #7
@racke Thank you very much!

[2017-04-14 00:47] ikedas commented on #6
@godzone, can you try ---
* checking query_start columns repeatedly.
For example, if values of the column stick to the same times, queries may keep running or waiting.  Otherwise, if new time values appear one after another while number of queries does not decrease much, simply many queries are issued.
* checking log.
If it is possible that queries are kept, plaase check Sympa log, pick the entrie

[2017-04-14 01:21] ikedas commented on #7
@racke May we apply your hack?

[2017-04-14 02:14] godzone commented on #6
Have just started myEaster break so will do a more of the above in a day or two.

sympa.x86_64 6.2.16-1.20160920.svn12962.RHEL6

--
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Glen Eustace,
GodZone Internet Services, a division of AGRE Enterprises Ltd.,
P.O. Box 8020, Palmerston North, New Zealand 4446
Ph +64 6 357 8168, Mob +64 27 542 4015

“Specialising in providing l

[2017-04-15 07:25] racke commented on #7
On 04/14/2017 03:21 AM, IKEDA Soji wrote:

Not really. It deserves another look, as of now it just prevents the caching of the information.

Regards
        Racke

--
Ecommerce and Linux consulting + Perl and web application programming.
Debian and Sympa administration.

[2017-04-15 07:52] racke opened #8 "Bounced crash - missing Encode::HanExtra"
[code]
This happened with a Debian install.

So

1. First we need to make sure that this module is installed.
2. Bounced should discard the message and not trying it at every run.

[2017-04-15 12:09] ikedas commented on #8
@racke, would you please try updating MIME-Charset to latest version?

[2017-04-15 12:18] racke commented on #8
First of all it is a really serious problem, because that stops the bounce processing altogether. So I ended up with more 3K unprocessed emails in the machine on question.

[2017-04-15 12:19] racke commented on #8
Current version of MIME::Charset is 1.011.1-1+deb8u2 (Debian Jessie).

[2017-04-15 12:52] ikedas commented on #8
At least 1.011.3 on CPAN seems requred (Changelog of [MIME-Charset](http://cpansearch.perl.org/src/NEZUMI/MIME-Charset-1.012.2/Changes) and [Sympa-6.2](https://github.com/sympa-community/sympa/commit/56466f713154ab9dbba9348b55a25933d7377f11)).

Note that MIME-Charset-1.011.3 on GitHub is broken.  1.012 would be used.

[2017-04-21 16:21] agouaux opened #10 "(6.2.16) issues with include_sympa_list via a template?"
I have the following definitions.

/deploy/sympa/etc/data_sources/owner_or_moderator_sympa_list.incl:

`include_sympa_list`
`name owner_or_moderator_sympa_list`
`listname [% param.0 %]`

/deploy/sympa/list_data/ecs.bmen.staff/config:

`owner_include`
`profile privileged`
`reception mail`
`source owner_or_moderator_sympa_list`
`visibility conceal`
`source_parameters etech`

However, even though the

[2017-04-21 17:48] agouaux commented on #10
I just discovered that some of these list config files had *_include paragraphs that were missing the `source_parameters X` line.  In some cases the list had two paragraphs, one with the `source_parameters` line, and another without it.

It turns out, that once my data source for including a list has been selected, if the list owner then wishes to unset that value, there's no way to de-select it.

[2017-04-21 19:20] agouaux opened #11 "Spurious error on duplicate keys with admin sync"
I didn't know if this was something separate from #7 or something different.  #7 deals with editing the admins (owners and/or editors).  However, this problem has to do with syncing these admins from a datasource.  I'm going to attached an excerpt of the log regarding such a sync.  The lines with "AAG" are additional log statements I inserted in an attempt to get more information about this.  One

[2017-04-22 06:27] racke commented on #7
@ikedas: actually the patch to wwsympa should be fine and we could apply that one.

[2017-04-23 02:35] ikedas commented on #10
agouaux,

Latter of your reports already has been filed as a bug.
https://sourcesup.renater.fr/tracker/index.php?func=detail&aid=9972&group_id=23&atid=167

[2017-04-23 07:12] ikedas commented on #11
agouaux.

Could you please explain what you expected and how the result was unexpected?

As far as I understood: owners has already been registered in admin_table, and thanks to primary-key constraint of the table, duplicate registrations were avoided.

[2017-04-23 08:56] racke commented on #11
I think that this is caused by the stupid caching of admins and friends in 6.2.

[2017-04-23 15:30] ikedas commented on #7
@racke, thanks for investigating.  I have no objection to apply it.

[2017-04-27 14:48] ydelattre opened #12 "sympa_msg.pl crashed with an include_users_ldap_2level"
Hi,

We encounter some problem with some lists when the second query from an include_users_ldap_2level try to query an object that doesn't exist in our LDAP.

First : task_manager.pl died when he was trying to sync those lists.
Second : if we send a mail to those lists, sympa_msg.pl dies too.
Third : this makes "review subscriber" page unavailable to the user.

From the sympa log :
[code]
I know t

[2017-04-28 00:58] ikedas commented on #12
Yoann, could you please show error log entries just before dying?

[2017-04-28 05:56] sivertkh commented on #12
@ikedas It looks like the same bug I reported in #11012.
https://sourcesup.renater.fr/tracker/?group_id=23&atid=167&func=detail&aid=11012

[2017-04-28 06:01] ydelattre commented on #12
Hi,

thanks for your answer :)
@ikedas Below the mail send by SYMPA juste before the task_manager crash.
[code]
@sivertkh i think it's the same bug too !

[2017-04-28 06:10] ikedas commented on #12
@ydelattre, could you show syslog messages? The logs you have shown seem stderr outputs under tmp/ spool.

[2017-04-28 07:02] ydelattre commented on #12
Here it is :

[code]

[2017-04-28 07:23] ikedas commented on #12
@ydelattre, does this patch stop dying?
[code]

[2017-04-28 07:28] ydelattre commented on #12
Thanks for your reactivity !
I will test this today and come back with an answer ASAP.

[2017-04-28 12:27] ydelattre commented on #12
@ikedas this patch solve the issue !

Thanks a lot :)

[2017-04-29 06:31] ikedas commented on #12
Thanks for reporting bug.  Closed.

[2017-04-29 06:31] #12 closed

[2017-05-06 08:20] PhilLAL opened #14 "is there any script to import googlegroups to sympa ?"
It could be useful to propose a tool to import data (configuration and content) from googlegroups to a sympa server.

- Do you know if there is anything existing currently?
- If not, could it be a tool proposed with sympa?

Thank you

[2017-05-11 04:07] ikedas commented on #14
Hi,

Google Groups itself provides no way to export content, except names and e-mails of members:
* Export a list of names and email addresses
https://support.google.com/groups/answer/60652

To export other contents, somebodies write scraping tools:
https://www.google.co.jp/search?q=scraping+Google+Groups

I have not found the tools to import content got by those tools.  I suppose you may process

[2017-05-26 17:21] iulistadmin opened #16 "SMIME digital signatures in HTML formatted emails show tampering"
HTML-formatted emails distributed through Sympa may display an error stating that the message has been tampered with since it was signed. The original signing certificate is intact in the email, and viewing the certificate shows that the certificate matches the original sender, but the warning gives recipients pause. Plain text and rich text emails do not appear to be affected. The issue has been

[2017-05-28 00:27] ikedas commented on #16
Hi,

Possiblly Sympa 6.2.x may not break S/MIME messages.
  https://sourcesup.renater.fr/tracker/index.php?func=detail&aid=8416&group_id=23&atid=167

Please check it.

If you encounter the problem with recent version of Sympa, please show us some samples of messages.

[2017-05-30 14:59] racke opened #17 "Add feature to include additional configuration files"
This feature is used by a lot of servers so it would make total sense for Sympa too. It allows to break down the configuration in smaller pieces and also information like database credentials and cookie values can be managed in a separate file. It would also make packaging Sympa a lot easier.

E.g. https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=863701.

Including system commands for evaluation

[2017-06-01 08:01] moschlar commented on #7
I think it would be good to also add `force_sync_admin` in `bin/sympa.pl` in the block for `reload_list_config`...
At least, that fixed it for me.

[2017-06-01 14:19] racke commented on #7
Thanks for the suggestion, I added this through ec77aaaff.
@moschlar, @ikedas could you check whether I got it correct?

[2017-06-01 17:33] moschlar commented on #7
I think so - but I'm really not an expert at all. I know neither Perl nor Sympa that well. ;-)

[2017-06-05 02:47] ikedas opened #18 "Edit list form: If an owner was deleted added at one time, changes will be ignored"
If an owner was deleted added at one time, changes will be ignored with following error message:

## How to reproduce
The operator is the privileged owner.
1. Set two or more owners.
2. Check "delete" box of one owner and enter another owner with the same e-mail.
3. Click "Update".

[2017-06-06 12:45] iulistadmin commented on #16
Thank you. We weren’t aware this was corrected in the newer release. We do want to upgrade, and this gives us even more reason to do so.

Tim Silvers

Campus Communications Infrastructure

Indiana University

From: IKEDA Soji <notifications@github.com>
Reply-To: sympa-community/sympa <reply@reply.github.com>
Date: Saturday, May 27, 2017 at 8:27 PM
To: sympa-community/sympa <sympa@noreply.github.co

[2017-06-07 12:18] sandhose opened #20 "New data sources component"
We want to integrate the new components created for Sympa 7 on the [sympa-vue](https://github.com/sympa-community/sympa-vue) repository in the current version of Sympa.

This is how it might look like in Sympa 7:
![](https://s.sandhose.fr/sympa/ui/flows/add-data-source--mobile.png)

([see here for all the screen, including the desktop ones](https://s.sandhose.fr/sympa/ui/list-admin/data-sources/))

[2017-06-07 12:27] racke commented on #20
I'll take a look where the information is kept and how it can be relayed to the new frontend.

[2017-06-07 13:33] racke commented on #20
The data sources information is kept in the configuration only as it seems. I will examined it further and check if there is a way to expose it from the 6.2. UI.

[2017-06-08 01:09] ikedas commented on #17
There is another motivation: Concealing sensitive parameter ``cookie``.  To do it, currently permission of sympa.conf have to be dropped.  I suppose at least this parameter should be separated.

My concern about inclusion feature is imcompatibility with edit_config feature (disabled by default): It seems to assume single configuration file.

[2017-06-08 01:46] ikedas commented on #20
There are two types of parameters for inclusion: ``include_*`` (e.g. ``include_sql_query``) and ``*_include`` (e.g. ``member_include``).

The former allows setting of datasource in detail, like presented here[[1]](https://www.sympa.org/manual/parameters-data-sources).  The latter allows restricted setting referring predefined templates[[2]](https://www.sympa.org/manual/list-definition#data_inclusi

[2017-06-08 02:02] ikedas opened #21 "Version number for next stable release"
For example, rpm versioning system judges that ``6.2.17`` is older than ``6.2.17b.1`` by default.  There may be any other systems alike.
1. What version number should we give to the next stable release?
Either of ``6.2.17`` (problematic), ``6.2.18``, ``6.3.0`` ...and so on.
2. What kind of policy should we adopt to update version numbers?
How may we determine development and stable releases by ver

[2017-06-08 05:13] racke commented on #21
On 06/08/2017 04:02 AM, IKEDA Soji wrote:

We don't have a big change set, so I would say we skip .17 and release as .18.

Some version that is handled gracefully by RPM :-).

Regards
         Racke

--
Ecommerce and Linux consulting + Perl and web application programming.
Debian and Sympa administration.

[2017-06-08 05:15] racke commented on #17
On 06/08/2017 03:09 AM, IKEDA Soji wrote:

Yes, definitely.

Which edit_config feature?

Regards
          Racke

--
Ecommerce and Linux consulting + Perl and web application programming.
Debian and Sympa administration.

[2017-06-08 05:53] ikedas commented on #17
As a listmaster, select "Listmaster admin" then "Edit robot config". The feature will be enabled by removing  "``&& removethistesttoenblefeature == '1'``" in ``web_tt2/edit_config.tt2`` template.

[2017-06-08 05:57] racke commented on #17
On 06/08/2017 07:53 AM, IKEDA Soji wrote:

OK, also the sympa_wizard needs to be aware of it I guess.

Regards
         Racke

--
Ecommerce and Linux consulting + Perl and web application programming.
Debian and Sympa administration.

[2017-06-09 11:53] MorenoUniTN opened #22 "include_ldap_query parameter attrs not valid (6.2.17b1)"
Hi to all,
my problem is the **-** caracter in the filed attrs on the include_ldap_query.
In the last version of sympa (6.1.x) my workaround is changed the value of the **List.pm** at line:

'include_ldap_query' => {'format' => {'host' => {'format...
...
**'attrs' => {'format' => '\w+',**

to:

'include_ldap_query' => {'format' => {'host' => {'format...
...
**'attrs' => {'format' => '.+',**

but n

[2017-06-09 12:48] racke commented on #22
Sorry, I can't find this piece of code. Please either state the file and line number or include it in the issue as

[code]

[2017-06-09 21:32] ikedas commented on #22
@MorenoUniTN, what lind of attribute name you want to enter? Could you show example?

[2017-06-11 07:33] ikedas commented on #7
Are there any more fixes on this issue? If not, I'd like to close.

[2017-06-11 08:35] racke commented on #7
@ikedas Go ahead, we can open new issues if this or a similar problem pops up again with 6.2.17 release.

[2017-06-11 09:20] ikedas commented on #7
Okey, closed. Thanks for reporting and fixing bugs!

[2017-06-11 12:07] ikedas commented on #22
@MorenoUniTN, does the change above fix the problem?

[2017-06-12 06:32] MorenoUniTN commented on #22
@racke This part of code is refered to fle List.pm of Sympa version 6.1 the new List.pm of Sympa 6.2 is complety differents and not contain this part of code

@ikedas Yes, in the old version of Sympa 6.1 this workaround fix the problem

there is a place in the new sympa 6.2 to set enable the caracter - in attrs parameter?
Thanks to all

[2017-06-13 07:22] ikedas commented on #22
I'll merge PR #23.   I feel appreciate if you check the next beta.

[2017-06-14 06:55] MorenoUniTN commented on #22
@ikedas Thanks for all, but my respons above is refered to old code of old version sympa 6.1.x
I try to modify file indicated at #23 but i have the same error.
The caracter is - dash in the attrs value of ldap query
![screenshot 2017-06-14 at 08 53 38](https://user-images.githubusercontent.com/29304925/27119188-29a311cc-50df-11e7-9beb-c1158624e70d.png)

[2017-06-14 07:06] ikedas commented on #22
@MorenoUniTN, can you apply this patch to new version?
https://github.com/sympa-community/sympa/pull/23.patch

[2017-06-14 08:01] MorenoUniTN commented on #22
@ikedas Great! now it's ok.
thanks a lot for all!!!

[2017-06-14 09:45] ikedas commented on #22
Good. So this issue will be closed.  Thank you for reporting bug!

[2017-06-14 09:45] #22 closed

[2017-06-15 13:45] alexAubin opened #24 "RAM consumption is too damn high"
![](http://i.imgur.com/N1X3Hiy.png)

When packaging Sympa for Yunohost, I soon realized that sympa (and even cpan, during install !?) was getting killed because of OOM. After investigating, I saw that Sympa, when not doing anything (i.e. right after install) consumes about O(400 Mo) of RAM.

I understand that Sympa is meant to be an entreprise-grade/large-scale application, but imho this is way to

[2017-06-16 07:16] ikedas commented on #24
@alexAubin, what kind of platform you are using?

Would you please show the result of ``perl -V``?

[2017-06-16 07:44] racke commented on #24
Looking at a Sympa server with a few mailing lists, the processes eating most of the RAM are the task manager and WWSympa ( both a bit over 500M virtual and 200M residential memory).

[2017-06-17 03:58] ikedas commented on #21
@racke, thanks for suggesting.

I agree.

If there are no objection, the next stable release will be **6.2.18**.

[2017-06-17 14:04] alexAubin commented on #24
Hi there. I've been working in a debian 8 VM, where I had no memory issue (probably because nothing installed beside Yunohost and Sympa), and then in a debian 8 VPS, a Digital Ocean droplet with 512 Mo of RAM, where I started encountering the issues.

Here's the result of `perl -V` on the VPS :

[code]

Cheers !

[2017-06-18 03:34] ikedas commented on #24
Thanks for information.  Now I understand you are using Debian 8 amd64.

FYI, below are a few example of machines I maintain (it takes short after startup).  Is there any remarkable difference from your environment?

----
* Version: sympa-6.2.17b.2
* Arch: x86_64 (amd64)
[code]
----
* Version: sympa-6.2.17b.2
* Arch: i686
[code]

[2017-06-18 13:11] alexAubin commented on #24
Hi ikedas,

the main difference I see is that I'm running Linux 3.x :

[code]

The return of `perl -V | grep [a-z]size` is identical to yours.

Here's the return of the `ps axl` :
[code]

And additionally, the output of `top -u sympa` which shows that 4 processes take about 13% of RAM each (maybe that info is also in `ps axl` but not sure how to decipher it :P) :
[code]

And the status of RAM (amo

[2017-06-19 04:05] ikedas commented on #24
I guess using i386 packages can solve (at least mitigate) problem on memory usage.  IMO 64-bit architecture (8 bytes for integers and pointers) is no more than space-wasting for many applications including Sympa.

[2017-06-24 05:56] #21 closed

[2017-06-28 13:11] CorneliusC opened #25 "Missing Function "action_change_email" on serveradmin.tt2"
Hi,
I’m Cornelius from „Fraunhofer Gesellschaft“ in germany.
We use sympa 6.2.16 for our +60 institutes with nearly 30.000 employees.

I just tried your newest version and there is also one function in the
serveradmin.tt2 template missing.

We had the old version 6.1.17 running until 2016, there you could
Change „old_email“ to „new_email“.

I added the part manuelly to the file serveradmin.tt2 (Li

[2017-07-10 15:22] agouaux commented on #11
I upgraded to 6.2.18, but the problem persists.

Here's an example.  List is called ecs.ee.allfac, and it includes the list etech for both the admins and editors.  That has been working fine for a long time.  However, after going to 6.2, now whenever I edit the List Definition, I get the following error message:

along with this nasty error message on the screen:

<img width="814" alt="screen shot

[2017-07-10 15:30] agouaux commented on #11
Here's the list config, if that matters:

[code]

and here's SYMPA_HOME/etc/data_sources/owner_or_moderator_sympa_list.incl

[code]

[2017-07-13 11:30] agouaux commented on #25
You can still do this on the command line:

`SYMPA_HOME/bin/sympa.pl --change_user_email --current_email=OLD --new_email=NEW
`

But, yes, we too miss the convenience of doing it via the web admin UI.

[2017-07-13 11:43] agouaux opened #27 "regression from 6.1: missing admin function to bulk unsubscribe"
This is related to #25 .  In 6.1, under the Admin tab of the web UI, when you searched for a user it would not only show all the lists that user was on, but on the far right there were buttons to edit or delete the subscription.  This made it really handy to delete all that user's subscriptions after they left the enterprise.  Now, that interface just shows all the lists that user is on, forcing y

[2017-07-14 07:36] ikedas commented on #8
Hi,

I could reproduce this issue and solution with 6.2.18.

If MIME-Charset 1.011.1 was installed and Encode-HanExtra was _not_ installed,
- sympa_msg.pl crashed, message was kept in msg spool:
[code]

If MIME-Charset 1.011.1 was installed and Encode-HanExtra was installed,
- Message was delivered.

If MIME-Charset 1.011.3 was installed and Encode-HanExtra was _not_ installed,
- Message was deliv

[2017-07-14 14:26] racke opened #28 "Internal server error in WebUI when email has removed from list"
`/editsubscriber/test-newsletter/foo.bar%40example.com/review`

This link shows "Internal server error" and also spams the listmaster with an email instead of saying "User not found" or something like that.

Sympa version: 6.2.16

[2017-07-14 19:35] bcchrisupp opened #29 "Sympa 6.2.16 - Unsubscribe Does Not Work"
I'm running Sympa 6.2.16 released in June(?) of this year, yet the information at https://www.sympa.org/manual_6.2/message-handling#unsubscription_url says to use the snippet
"To unsubscribe from this list, clink here: [% 'auto_signoff' | url_abs([list.name],{email=>user.email}) %]"
In a footer yet, this does not result in a unsubscribe e-mail being sent. We had to use the older version of the sni

[2017-07-15 04:01] ikedas commented on #29
Hi,

Typo was fixed:
https://www.sympa.org/manual_6.2/message-handling?do=diff&rev2[]=1495594351

Thanks!

[2017-07-15 10:00] ikedas commented on #28
@racke, I hope reported bug has been fixed.

[2017-07-15 10:17] racke commented on #28
Excellent, thanks @ikedas.

[2017-07-17 20:48] bcchrisupp commented on #29
Hello,

Unfortunately, fixing the typo for the "listname" parameter didn't fix the problem. There is also a typo for the word "click" in the sample footer text that currently reads as "clink".

We still have to use the old footer of "To unsubscribe from this list, clink here: [% wwsympa_url %]/auto_signoff/[% listname %]/[% user.escaped_email %]" to get Sympa to accept the messages sent to the lis

[2017-07-18 05:39] ikedas commented on #29
Hi,
Reported bug seems to be fixed by PR #26.
https://github.com/sympa-community/sympa/pull/26/commits/21d2f9de8e11d43461544a16a63fcd550ecea028

Please check HEAD of sympa-6.2 branch on repository, or please use older notiation.

[2017-07-18 17:26] bcchrisupp commented on #29
Fantastic. Thanks for following up and for all your hard work on this project!

[2017-07-18 17:26] #29 closed

[2017-07-20 14:26] OlivierLM opened #31 "Successive config files inconsistency"
Due to parameters being unsorted in config files (when dumping the hash to the file I imagine, maybe because of the sorting cost), it's impossible to use the command diff on two successive config files of a given list.

It could really help ops if this was implemented!

[2017-07-23 16:42] koolfy opened #32 "opensmtpd setup documentation"
Hello,

over the last two weeks or so, I discussed setting up sympa behind an opensmtpd MTA.

There were quite a lot of hoops to jump through to make it work as is, so as was requested in that channel, I'm submitting a draft for your documentation based on my experiences.
I figured this is as good place as any to submit it, I apologize if it's entirely the wrong place to do so :)

I don't really c

[2017-07-24 10:53] ikedas commented on #32
Great documentation!

### Helping makemap
I guess, if sympa_newaliases.pl feeds PATH environment variable, there may be no need for helper script:

[code]

### Tracking feature
Sendmail command of OpenSMTPD seems not supporting options for DSN (``-N``) and envelope ID (``-V``). These options are used by [message tracking feature](http://www.sympa.org/manual/bounces#message_tracking) of Sympa.  I s

[2017-07-24 11:00] koolfy commented on #32
Updated a ton of typos that were pointed out to me.

I agree for the PATH env, but in my case at the first aliases.db generation the chmod was still necessary… so for now it'll only remove one line

[2017-07-24 11:18] ikedas commented on #32
Maybe it's a bug: Perhaps umask (027) set by sympa.pl is applied to aliases.db (mode 640), but it should be readable by MTA user.  I'll submit PR in a few days.

[2017-07-25 02:14] ikedas commented on #32
I found that at least Postfix doesn't mind permission: It can access to aliases.db owned by sympa:sympa and having mode 640.  I'll investigate a bit to find the method not making aliases.db world-readable, if possible.

[2017-07-28 06:52] ikedas commented on #32
Maybe I found solution.

1. If aliases file does not exist, create it.
[code]
2. Make sympa_aliases writable/readable by sympa, readable by smtpd and _not_ accessible by any other users:
[code]
3. Use makemap to update table.
Add following line to ``sympa.conf``:
[code]

[2017-07-28 11:14] racke opened #34 "Sympa doesn't log DBI error on connect"
It is really unacceptable for me to not log the actual DBI error.  🤐

[code]

[2017-07-29 10:23] ikedas commented on #34
Good hack @racke! I merged it.

[2017-08-15 13:57] aejm-unikent opened #37 "Perl dies when changing priveleged list owners via web interface"
Using Sympa 6.2.18. When trying to change privileged owners for a mailing list using the web interface, the following error message appears and the change fails:

`DIED: missing parameter "user" at /usr/share/sympa/lib/Sympa.pm line 519. Sympa::send_notify_to_user(Sympa::List <mailing-list@kent.ac.uk>, 'added_as_listadmin', '', HASH(0xde4a230)) called at /usr/libexec/sympa/wwsympa.fcgi line 11847

[2017-08-16 02:29] ikedas commented on #37
@aejm-unikent,

Could you please check if [this patch](https://github.com/sympa-community/sympa/commit/36a01f96d6f3475448fb67b04f484582ec675064.patch) solve the problem?

[2017-08-17 09:20] moritz25 opened #40 "sympa_msg: uninitialized value"
Hey,
I get in  /var/spool/sympa/tmp/PID.stderr the following message:
Use of uninitialized value in numeric le (<=) at /usr/share/sympa/lib/Sympa/List.pm line 1391.
The PID from sympa_msg.pl
I'm using debian 9 (Stretch), with sympa 6.2.16~dfsg-3 and perl v5.24.1

[2017-08-18 03:13] ikedas commented on #40
Hi,

Can you check if [this patch](https://github.com/sympa-community/sympa/commit/31269c058f1c7bdd565b1bfc0d372550f9ba5980.patch) solve the problem you reported?

[2017-08-18 10:07] moritz25 commented on #40
Hey,
yes this patch solve this problem. Thank you.

[2017-08-18 10:07] #40 closed

[2017-08-19 14:03] ikedas commented on #40
Merged.  Thank you for reporting bug!

[2017-08-20 08:36] ikedas opened #43 "List parameter "host" should be abolished"
Lists can have `host` parameter overriding host part of list addresses derived from virtual host the list belongs to.

- Cons:

  It breaks alias management: When a list is removed, alias manager cannot find aliases to be removed; If users (owners) change this parameter, aliases won't be renamed.  At least current implementaion cannot handle those situations properly.

- Pros:

  Users (listmaster

[2017-08-20 09:09] racke opened #44 "Sending an html page to the list from URL doesn't work on 6.2.18"
This causes the following error message - and I certainly didn't select a file to upload:

 ERROR (send_mail) - You specified both an URL and a file to upload. Sympa can't choose which one to send. Please fill the form with one of them only. A web page OR a file to upload.

[2017-08-21 03:05] ikedas commented on #44
@racke, could you please give a bit more infomation? such as

- The URL you can reproduce the bug, or content of that page
- Sympa log
- HTTPd log

Thanks.

[2017-08-21 08:44] racke commented on #44
On 08/21/2017 05:05 AM, IKEDA Soji wrote:

The error message in the Sympa log is "A MIME part could not be created with the supplied data, ". I will investigate
that further, the error message in the UI was totally confusing.

Regards
         Racke

--
Ecommerce and Linux consulting + Perl and web application programming.
Debian and Sympa administration.

[2017-08-21 09:44] racke commented on #44
On 08/21/2017 10:44 AM, Stefan Hornburg (Racke) wrote:

So the error message from MIME::Lite::HTML is:

Can't call method "replace" on an undefined value at /usr/share/perl5/MIME/Lite/HTML.pm line 530

Module version is 1.24.

Regards
          Racke

--
Ecommerce and Linux consulting + Perl and web application programming.
Debian and Sympa administration.

[2017-08-21 14:07] MargoM opened #46 "Language change won't affect, 6.2.18"
Hello!

Sympa version: 6.2.18

[code]

I would like to set et to default language, but still en-US is default language. Only how I can change default language is to remove the en-US from the supported_lang parameter. I would like to keep en-US also, so users can choose it from Sympa GUI.

I'dont have any robot.conf, which overrides it.

Is it bug or am I missing something?

thanks
Margo

[2017-08-22 00:58] ikedas commented on #46
@MargoM, have you restart sympa and HTTPd?

[2017-08-22 01:00] ikedas commented on #32
@koolfy, could you contribute your work for Sympa documentation?
https://github.com/sympa-community/sympa-community.github.io

[2017-08-22 07:06] MargoM commented on #46
Yes, restared: spawn-fcgi, nginx, mariadb, sympa and rebooted machine, still same. Also, checking sympa site with incognito-private modes, no caching. I can see the change if I remove the en-US value.

And in incongnito mode, my user language (my preferences language tab) is overridden, there is English (US), but in database I have et.

[2017-08-22 08:40] ikedas commented on #46
I guess your browser may prefer to en-US than et. Could you please check if Estonian precedes English in language preferece of the browser.

[2017-08-22 11:17] MargoM commented on #46
Yes, thanks! Browser default language was English, after changing it to Estonian, now it works.

Is there anyway to ignore browser language and always use Estonian? I miss the language selection button (for example in header).

[2017-08-22 12:50] ikedas commented on #46
Users can set language of their own by logging in and setting their preference.  When the user logged in again, their language will be applied.

When the user did not login, accessing this URL may set language to `et` temporarily:
``http://<host name>/sympa/set_lang/et``

Although this feature is not documented.

[2017-08-22 12:58] MargoM commented on #46
Well thanks, appreciate your work. I think we can close this issue.

[2017-08-23 02:05] ikedas commented on #44
Error message was corrected: https://github.com/sympa-community/sympa/commit/55e3658f4893c48a5aedd121b91f472a936b48a4

And I could reproduce error by empty page (zero length content).

[2017-08-25 12:16] MargoM opened #47 "Changing list owner/editor parameter, internal server error"
Hello!

Sympa version: 6.2.18

If changing list owner/editor parameters (profile, reception, visibility), internal server error occurs. For example changing list owner (already set) profile "privileged owner" to "normal owner". And I am able to crash fcgi (needs restart).

I can change owner/editor parameter, if changing "user" email.

[code]

I tried it in https://demo.sympa.org/sympa, here it wo

[2017-08-25 13:04] ikedas commented on #47
This issue is duplicate of #37.

[2017-08-25 13:06] MargoM commented on #47
Ohh well, I tried to check if this problem is already here... Thank you again ikedas!

[2017-08-25 13:06] #47 closed

[2017-08-26 22:06] MargoM commented on #7
Still facing with this problem.

While refreshing wws/lists page, sometimes shows list@domain (Owner) and sometimes without owner. After restarting spawn-fcgi service, everything works fine.

Sympa version: Sympa 6.2.19b.1
OS: CentOS Linux release 7.3.1611

[2017-08-29 04:33] ikedas commented on #25
6.2.19b.1 restores change_email function as "move_user".  Please check it in serveradmin and pref pages, then report if it works sanely.  Thanks.

[2017-08-29 04:37] ikedas commented on #16
No more report.  This issue is closed by now.

[2017-08-29 04:37] #16 closed

[2017-09-04 08:00] ikedas opened #49 "Owners and editors should be stored only in database, not in config"
List administrators (owners and editors) are stored both in database and list `config` file. Duplicate information cause complexity of the code, and synchronization between both occasionally fails.

One of adequate changes seems deprecating owner/editor fields in list `config` file.  Even doing this, all information will be kept in database.

[2017-09-04 08:20] eiro commented on #49
hello soji,

we spoke about it during the hackathon and we really don't want to remove such a convenient way to configure sympa so:

* yes: the database must be the reference for the sympa API but
* yes: the files should be the reference for the administrator (so he can commit the configuration)

from my perspective: everything should be CRUDable from flat files because it's a very simple way to d

[2017-09-04 09:51] dverdin commented on #49
Hi soji,
I agree with Marc. Flat files are very useful for admins and can be versioned.
In addition, I would say that owners/editors are also data frequently parsed in list families. So excluding them from the config file would require to create exceptions for these parameters in the Family code.

I'm feeling that we would gain more long term benefits in strenghtening the current synchronization m

[2017-09-04 09:58] ikedas commented on #49
@eiro, @dverdin, thanks for response.

I love flat file, too, but its fault is stability. It is essentially the _serialized_ copy of data structure:
- It is useless unless it is loaded into the memory.
- It is not able to be shared among multiple processes or hosts with sufficient accuracy.

In short, flat file stored in disk is not suitable for dynamically changed data (remember that admin info c

[2017-09-04 09:59] dverdin commented on #43
- Another con: In addition, when a virtual host domain changes, these list-specific host parameters are not changed. Thus leading to confusion and errors.
- Another pro: when hosting lists behind another frontend than Sympa (I did it with zimbra), you can have a virtual lists domain (lists.example.com) that's only used in enveloppes and a visible list domain (example.com) that's the same as the fr

[2017-09-04 10:12] dverdin commented on #20
I strongly agree with  Soji. These two mechanisms are in fine the very same, though they provide different way to create inclusions.

Having separate *.incl files have many advantages which all amount to referential integrity:
- simplicity for mass updates when not using list families (if the SQL host changes for example),
- Smaller set of queries to maintain,
- ability to transfer queries from to

[2017-09-04 10:30] dverdin commented on #17
Funny, Soji invested a lot of effort into unifying sympa.conf and wwsympa.conf and now we want to split them again. ;-)
But now is is for good reasons...
As a matter of fact, Sympa configuration IS actually split into several files (edit_list.conf, auth.conf, trusted_applications.conf, etc.) even though they are not merged into a single entity when in memory.
So what you think about, Racke, would

[2017-09-04 14:15] MargoM commented on #25
Version: 6.2.19b.1

In serveradmin.tt2 changing email works.

But not in user preferences. In user preferences there is no "Change email" button.

After changing the code (pref.tt2) I can see the button, I think there is a typo:
value="[% user.email %]
should be
value="[% user.email %]"
no closing bracket (line: 46 https://github.com/sympa-community/sympa/blob/6.2.19b.1/default/web_tt2/pref.tt2).

[2017-09-04 14:16] MargoM commented on #25
Version: 6.2.19b.1

In serveradmin.tt2 changing email works.

But not in user preferences. In user preferences there is no "Change email" button.

After changing the code (pref.tt2) I can see the button, I think there is a typo:
value="[% user.email %]
should be
value="[% user.email %]"
no closing bracket (line: 46 https://github.com/sympa-community/sympa/blob/6.2.19b.1/default/web_tt2/pref.tt2).

[2017-09-04 14:55] xavierba opened #50 "smtpc build warnings"
Hi,

gcc is reporting warnings while building smtpc:

make[2]: Entering directory '/builddir/build/BUILD/sympa-6.2.19b.1/src/smtpc'
  CC       smtpc.o
  CC       sockstr.o
smtpc.c: In function 'parse_options':
smtpc.c:229:28: warning: comparison between pointer and zero character constant [-Wpointer-compare]
       if (*p == ':' && ++p != '\0')
                            ^~
smtpc.c:229:24: note:

[2017-09-05 04:19] ikedas commented on #50
@xavierba , I was astonished to see my gcc had been missing these malicious typos. It should be fixed:

- https://github.com/sympa-community/sympa/compare/sympa-6.2...ikedas:sympa-6.2

It is intended: https://github.com/sympa-community/sympa/commit/a220ee7f2dadadea1dab7ca8a5d3981d286d984a . To keep compatibility to earlier version, `--bindir=(libexec directory)` have to be added to configure optio

[2017-09-05 12:45] xavierba commented on #50
I can confirm the smtpc build warnings are now gone, thanks.
Also, thanks for the hint about smtpc in bindir rather than libexecdir.

[2017-09-06 04:19] ikedas commented on #50
Merged. Thanks for reviewing & confirming. This issue is closed.

[2017-09-06 04:19] #50 closed

[2017-09-06 05:50] ikedas commented on #25
@MargoM , could you please retry renaming from the beginning, with corrected `pref.tt2`?

[2017-09-06 07:21] MargoM commented on #25
My modification in default/web_tt2/pref.tt2

[code]
Diffchecker: https://i.imgur.com/U11nfva.png

[2017-09-06 08:10] ikedas commented on #25
Okey then, with modified pref.tt2, could you please retry procedure of operation renaming email?

[2017-09-06 08:27] MargoM commented on #25
1. Inserting new email address (My preferences) > Change email
2. Changing user's email > Confirm
3. After clicking validation link, that i received by email (You requested an action 'move_user'.)
4. Changing user's email > Confirm
5. Internal Server Error

[code]

[2017-09-06 14:55] vincent-lucas opened #51 ""subject_list" field in "list_table" table is NULL"
Hello,

Since an update from 2.1.16 to 6.2.16 version, the "subject_list" field in "list_table" table is set to "NULL" for new created lists and is no more updated when changing the subject for an existing list.

Is this a normal new behavior ? Is the list subject only stored into the list config file ?

Best regards,
Vincent

[2017-09-07 00:39] ikedas commented on #51
Hi,

I think it is normal. On 6.2.x, original subject is stored only into `config` file, and `searchkey_list` field in list_table holds a key for case-insensitive matching.

Regards,
-- Soji

[2017-09-07 09:46] ikedas commented on #17
Sorry for cutting in.

I suppose most of `*.conf` (and at least any `*.incl`) may be unified into single config structure on memory. Once configuration became able to be dumped to single `sympa.conf` file [1], it may be easily chopped using such as `include` directive.

[1] A difficult point is that file format currently used is less expressive to represent complex structure, but it may be solved.

[2017-09-07 11:32] dverdin commented on #17
Yep. Which raise the question - again - about formalism.
sympa.conf is only simple key/values.
config are one level deep data structures.
A lot of people suggested to switch to a more widely known formalism such as JSON or YAML. I still don't know if it's relevant.

[2017-09-07 15:56] racke opened #52 "Text change / typo fix in change_email_request template"
There is at typo in `default/web_tt2/change_email_request.tt2` (shoukd instead of should). However, I propose to change this sentence into "Please check your mailbox now". This version is more polite and user friendly in my opinion.

[code]

[2017-09-07 16:21] xavierba opened #53 "Add support for logging to file w/o going through syslog"
Sympa default configuration logs to syslog facility local1.
One needs to configure the local syslogger to have sympa write to, say, /var/log/sympa.log, then restart the syslogger to get any log.
It would be nice to be able to log directly to a file, while still retaining the capability to use a syslogger.

[2017-09-08 05:26] racke opened #54 "Button label confusing on form to send HTML page"
The button on the view `compose_mail/eshop-news/html_news_letter` says _Send to selected receipient_, but it simply sends it to the whole list. So it is confusing (aside from the typo ...).

[2017-09-10 11:51] MargoM commented on #25
Now in Sympa 6.2.19b.2 this works fine! Thanks!

[2017-09-10 11:57] MargoM commented on #7
@ikedas

Why change in List.pm is not applied to code? Is it hack or?
I mean this change in List.pm that racke commented: https://github.com/sympa-community/sympa/issues/7#issuecomment-293568974. I have to change it manually, otherwise it's not working properly.

[2017-09-10 13:43] agouaux commented on #11
I guess nobody has been able to reproduce this error?  We're still routinely getting the errors that are shown in the log excerpt attached to the original comment....

[2017-09-10 13:56] racke commented on #11
I got a similar error recently on a new Sympa 6.2.18 setup. I suppose we need to find the place in the code where it submits the list definition update and clear the cache before that.

[2017-09-10 15:34] agouaux commented on #11
I'm trying to understand... how is it a cache issue?  It is as if the code
is trying to add all the owners included from another source as owners,
when in fact they were already added as owners.  That behavior doesn't
sound like something that is caching, but rather something that is not
remembering.  It's as if it is not double-checking that those included
owners are not already added before atte

[2017-09-13 12:32] vincent-lucas commented on #51
Hello Soji,

Thank you for the response. I did not see this change in the release notes.

Regards,
Vincent

[2017-09-13 12:32] #51 closed

[2017-09-14 04:01] ikedas commented on #7
@MargoM, the change you suggested is the same as stopping use of `{_admin_cache}`.

In fact `{_admin_cache}` is the root of evil, however, we should consider how the change will affect performance.  Could you check a minor change below?

[2017-09-14 04:08] ikedas commented on #25
@MargoM, Thanks much for confirming. This issue is closed.

[2017-09-14 04:08] #25 closed

[2017-09-14 05:48] racke commented on #8
Done.

[2017-09-14 05:48] #8 closed

[2017-09-14 06:02] racke commented on #28
Done.

[2017-09-14 06:02] #28 closed

[2017-09-14 06:20] racke commented on #44
This is an improvement, but still leaves the hapless poster pretty much clueless. At least the error message from MIME::Lite::HTML should be logged. I can add a patch for that.

[2017-09-14 06:37] racke commented on #52
Thanks for the fix, looks good!

[2017-09-14 06:37] #52 closed

[2017-09-14 06:40] racke commented on #54
Fix looks good, thanks!

[2017-09-14 06:40] #54 closed

[2017-09-14 07:12] #34 closed

[2017-09-14 08:08] MargoM commented on #7
@ikedas, unfortunately, this minor change didn't helped me.

[2017-09-14 09:58] ikedas commented on #7
@MargoM, owners sometimes shown or not shown is included from data source, or owners set in list config page?
- In former case, delay of update may be controled by `ttl` (Inclusions timeout), 3600s by default.
- In latter case, delay may be usually at least a few seconds.

This is the feature at this moment. I guess radical fix will be done in the future.

[2017-09-14 11:04] MargoM commented on #7
@ikedas, while logging in as "normal owner" sometimes I can change list configuration and sometimes shows red textbox "AUTHORIZATION REJECT (edit_list_request) This action is restricted to list owners. ".
While logging in as "listmaster", in list configuration page, in textfields owner values are stable, but in left menu ("List Options") where the Owners are described this line is changing almost

[2017-09-15 08:05] MargoM opened #56 "Vacation message to Message templates"
Hello!

I would like to add Vacation message to Message templates, so users can change it easily.
Could someone give some more detailed info, http://www.sympa.org/contribs/vacation. My test experiment was unsuccessful :(

Or this feature is planned to be in Message templates in near future?

Thanks

[2017-09-15 13:07] rpet opened #57 "Support for LDAP paged queries"
I'm bringing here an enhancement request regarding LDAP paged queries already filed in this two tickets:

- https://sourcesup.renater.fr/tracker/?aid=3525 (opened 2007-11-18)
- https://sourcesup.renater.fr/tracker/?aid=7369  (opened 2010-12-17, duplicate of 3525, provides a patch made by leon.hedding@om.org)

(The bug tracker at **renater.fr** seems to be restricted to users from French institutio

[2017-09-19 07:22] wouldsmina opened #59 "MHonArc depedency not detected"
OS : DEBIAN 9
SYMPA 6.2.16 from debian package repository
MHonArc v2.6.19+ from debian package repository

sympa_wizard --check don't detect MHonArc : MHonArc::UTF8 n'a pas été trouvé sur le sytème.

wwsympa work like a charm, archives are generated with MHonArc v2.6.19+.

[2017-09-19 17:30] racke commented on #59
Maybe because it is installed in `/usr/share/mhonarc` which is not in `@INC` usually?

[2017-09-20 03:47] ikedas commented on #59
I suppose it may be dealt with by packagers. FYI, RPM solved it by applying [a patch](https://github.com/ikedas/sympa-rpm/blob/master/SOURCES/sympa-6.2a.40-r11708-wizard-mhonarc.patch).

[2017-09-20 05:22] racke commented on #59
@ikedas thanks for the pointer, we can do that on the Debian end too.

[2017-09-20 12:35] wouldsmina commented on #59
the patch work (without uppercase).

[2017-09-20 12:35] #59 closed

[2017-09-20 12:36] racke commented on #59
Submitted as Debian bug (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=876272), thus closing here.
Thanks @wouldsmina for the report.

[2017-09-22 09:30] wouldsmina opened #60 "template my.tt2 don't show lists when included in home.tt2"
Hello,
I need to show "my lists" on home page (into a`div`) but they systematically show "No subscription.".
When home page is called `[% which %]` is empty

OS : DEBIAN 9
SYMPA 6.2.16 from debian package repository

Portion of my home.tt2 :
[code]

logs (level 4) :
my lists :
[code]

home:
[code]

[2017-09-23 02:08] ikedas commented on #11
Milestone means that we will try to solve this issue in this year. Helps are appreciated!

[2017-09-25 09:01] ikedas opened #61 "Responsive table breaks form submission"
[Original report](https://listes.renater.fr/sympa/arcsearch_id/sympa-users/2017-09/1785340775.7861625.1506252598051.JavaMail.zimbra%40campus-condorcet.fr).

Summary: With mobile browser, custom attributes submitted in subscriber options page are sometimes omitted.  Disabling respoisive table feature avoids this problem.

I replaced `web_tt2/edit_attributes.tt2` with following content not using tab

[2017-09-26 17:00] taggart opened #62 "restore_list command line option"
To close large lists we use the command line method:

  sympa.pl --close_list=list@robot

since the process takes long enough that the web method times out.

Today we ran into a situation where were needed to _restore_ a large
list, but there doesn't seem to be a --restore_list option.

I took a look at what wwsympa is doing and for closing lists (in
do_close_list) and it's calling the generic $li

[2017-09-27 10:05] xavierba opened #63 "include_ldap_query and include_ldap_2level_query behaving differently"
While playing with include_ldap_query, I found what I think is an undocumented behaviour.
If filling attrs with, say,  "mail,cn", both the email and name appear when reviewing the list members.
The fact that you can use 2 attributes in the attrs field, first for email and second for name, is not documented.

However, the same behaviour cannot be reproduced with include_ldap_2level_query.
Using att

[2017-09-28 01:17] ikedas commented on #60
I suppose "my" page can be shown by accessing to URL /sympa/my.

Can setting ``default_home my`` in `sympa.conf` satisfy your need?

[2017-09-28 01:42] ikedas opened #64 "Remove database log"
Currently, there are duplicate feature to record result of an action:
1. Notices and errors on web page (web interface),  command result (mail interface) or rejection of delivery.
2. Logging to syslog (`Sympa::Log::syslog()` or `wwslog()` in wwsympa).
3. Database log (`Sympa::Log::db_log()` or `web_db_log()` in wwsympa).
4. Statistics (`Sympa::Log::add_stat()` or `web_db_stat_log()` in wwsympa).

[2017-09-28 07:09] wouldsmina commented on #60
Hi @ikedas

Yes, "my" page work fine.

No, I need to show "my" and "lists_categories" into "home" (cf. screenshot)

![sympa home](https://user-images.githubusercontent.com/12614881/30953535-ac3e11fe-a42c-11e7-9903-a1680785d539.png)

[2017-09-28 07:28] ikedas commented on #60
@wouldsmina,

Just an idea, but how about using iframe?
[code]
`nomenu/` suppresses header/footer in content.

[2017-09-28 07:38] wouldsmina commented on #60
it's work with iframe, but `iframe` is deprecated and less beautiful than a `div` :disappointed_relieved:

[2017-09-28 07:53] ikedas commented on #60
HTML 4.01/STRICT did not define `iframe`, but HMTL5 defines it.  To make it more beautiful, add a style to `css.tt2`:
[code]

[2017-09-28 08:10] wouldsmina commented on #60
ok. I would have preffered the  `[% which %]` tt2 variable into home but it's seems not possible...

thank you @ikedas

[2017-10-01 06:47] ikedas commented on #60
Thanks for sharing your experiences. This issue is closed.

[2017-10-02 01:19] ikedas opened #69 "WWSympa: Make FastCGI support mandatory"
Currently (as of 6.2.22), WWSympa (wwsympa.fcgi) may use either FastCGI or CGI.  Latter is *un*useful in practical use.  CGI support would be given up and FastCGI would be made mandatory.

N.B.: SOAP server (sympa_soap_server.fcgi) requires FastCGI support.

[2017-10-02 09:02] MorenoUniTN opened #70 "Log list not sorted for date"
Hi to all,
today i find a issue for log list in the sympa 6.2.20. Infact log is not order by date, even if sorting is set by date.
![sympaerr_edit](https://user-images.githubusercontent.com/29304925/31070562-196953e2-a761-11e7-94e7-f94ebc4ebe8c.png)

[2017-10-02 14:06] pkissman opened #71 "owner and moderator info lost on upgrade to 6.2.20 or 6.2.22"
Having upgraded to either 6.2.20 or 6.2.22, neither sympa nor wwsympa can find existing list owners and moderators.  One has to edit the list ownership info and save it again (edit_list_request) in order for list ownership to be found.

Log file example:

notice Sympa::Spindle::ToModeration::_send_confirm_to_editor() **Warning: No owner and editor defined at all in list** Sympa::List <mylist@mydom

[2017-10-02 15:01] pkissman opened #72 "sympa init script on Debian [: =: unary operator expected"
When you install a new version of sympa 6.20 or 6.22,  the initscript generated has the following warning on a Debian system (wheezy):
  **/etc/init.d/sympa: line 262: [: =: unary operator expected**

Adding quotes around the NETWORK reference in if [ ${NETWORKING} = "no" ]  in sympa-6.2.22/src/etc/script/sympa.in

if [ **"**${NETWORKING}**"** = "no" ]

seems to do the trick

[2017-10-02 15:25] pkissman commented on #71
I just realized that my whole admin_table had been wiped out by the sympa upgrade process, which is why no owners or moderators were found.

I restored from a backup and things look good.

This seems to happen due to the upgrade script:

## Empty the admin_table entries and recreate them
    $log->syslog('notice', 'Rebuilding the admin_table...');
    Sympa::List::delete_all_list_admin();
    fore

[2017-10-02 15:39] racke commented on #71
Really, we shouldn't delete a whole table without safety belt. At the very least, a dump should be stored in case it goes wrong.

Unclear why the rebuild doesn't work. @pkissman, what was the previous Sympa versions and which database system and version do you use?

Also can you check your log for messages related to the admin_table rebuild event?

[2017-10-02 15:58] pkissman commented on #71
Stefan,

I first encountered this problem when I upgraded from 6.2.18 to 6.2.20, and then again when going from 6.2.20 to 6.2.22 today.

Using mysql (5.5.57-0+deb7u1)

I get the standard notice in my syslog or messages log:

Oct  2 10:52:01 mlinwww02 sympa[9139]: notice Sympa::Upgrade::upgrade() Rebuilding the admin_table...

Unfortunately, I can’t seem to find anything else (mysql, system logging

[2017-10-03 00:58] ikedas commented on #71
@pkissman , though i don't know why, list config files might be broken.  Restore them by doing;
1. Stop services, if possible.
2. Go to list directory, and overwrite `config` file of each list with the recent version of unbroken backup files (named config._number_ and placed in the same directory as `config`).
3. Remove `config.bin`, if any.
4. Start services, if you have stopped.

Then see if own

[2017-10-03 09:19] racke opened #73 "important_changes.pl is broken"
[code]

[2017-10-03 14:10] pkissman commented on #71
Thank you for the solution you’ve suggested.

Unfortunately, I think I will have to wait for the next upgrade to give this a try.

I had already restored the admin_table from a backup, which solved the problem until the next upgrade.

I did try to follow your advice.  I deleted my config.bin files and took older version of the config files for each list (e.g  config.20) and copied to config

I rei

[2017-10-03 14:22] pkissman opened #76 "Change Redirect After List Admin Updates a User's Email - UX Suggestion"
When you use the List Administrator's ability to globally change a user's email (/serveradmin/users) it works great.
But once the update completes, you are redirected via the **move_user** action to your own preferences page (/pref).
This seems odd.  Wouldn't it make more sense to redirect either to the Listmaster Admin menu, or right back to the Listmaster Admin / Users  submenu, especially since

[2017-10-03 20:07] MargoM commented on #76
I would like to add, if you don't bother.

After clicking firstpasswd/renewpasswd button I receive ticket URL, where I can choosepasswd. If the inserted passwords are not same it will display error message for some seconds (example: "ERROR (setpasswd) - The passwords you typed do not match"). Now it is blank page (/wws) and I'm logged in without password, it isn't a problem. I would like to say th

[2017-10-04 16:50] xavierba opened #78 "Bundled jquery-ui library is vulnerable to an XSS"
sympa up to 6.2.22 is bundling jquery-ui 1.11.2 which is known to be vulnerable to an XSS.
http://www.cvedetails.com/cve/CVE-2016-7103/

[2017-10-05 01:58] #61 closed

[2017-10-05 11:54] wouldsmina commented on #60
sorry but that does not fit in the end. with iframe, when selecting a list; it's appears in the iframe :/

[2017-10-05 14:58] racke opened #80 "Fix ridiculous English spelling for spam protection button"
`This button trys to protect the mailing lists archives against address harvesting by a Spammer.`

3rd person of try is "tries" - and spammer should be lowercase. In addition this message is quite pathetic in general. I will *try* to come up with a better one.

[2017-10-05 15:36] racke commented on #72
Thanks for the report @pkissman. But I think we should stop supporting init scripts as modern distributions are using systemd. Not that I really in love with that ...

Given the small size of the current Sympa dev team, I don't see a point to support Debian wheezy etc.

[2017-10-05 15:39] racke commented on #69
I second that. CGI should *die* ... ask @sawyerx.

[2017-10-05 18:45] pkissman commented on #72
That's fine.  I can fix it myself at each upgrade install, which I do from source, not from  Debian packages.  We hope to hop up to a current OS distribution soon any.

Thanks for considering.

pjk

________________________________
From: Stefan Hornburg (Racke) <notifications@github.com>
Sent: Thursday, October 5, 2017 11:36
To: sympa-community/sympa
Cc: Kissman, Paul (BLC); Mention
Subject: Re: [

[2017-10-06 07:01] ikedas commented on #80
Errors in translation (including English) would be corrected on translation site: https://translate.sympa.org/
Would you please check it?

[2017-10-06 07:42] racke commented on #80
OK, done that.

[2017-10-06 13:56] pascalmaes opened #83 "new owners or moderators not taken inot account by the scenario"
When a list is configured to accept mail from owners or editors, adding new owners or new editors needs a restart of Sympa for the mail to be accepted when sending by these new ones.

Somebody says that's normal because the scenari are in a cache but we can't restart Sympa at each mdofication of the owners or editors

[2017-10-06 13:59] racke commented on #83
What is your Sympa version?

[2017-10-06 14:07] pascalmaes commented on #83
The last one : 6.2.22

[2017-10-06 14:27] racke commented on #83
Which scenario do you use? Just need sufficient information to reproduce your problem.

[2017-10-06 14:31] pascalmaes commented on #83
/var/sympa/etc/scenari/send.owneroreditorkey

title.us Owners and editors only
title.fr limité aux propriétaires et modérateurs

is_owner([listname],[sender])      smtp,smime,md5    -> do_it
is_editor([listname],[sender])     smtp,smime,md5    -> do_it
is_subscriber([listname],[sender]) smtp,smime,md5    -> reject
match([sender],/\.ucl\.ac\.be/)    smtp,smime,md5    -> reject
true()

[2017-10-06 14:34] pascalmaes commented on #83
Hereafter a description of the problem posted on sympa-fr@listes.renater.fr

Bonjour,

Je coince toujours sur ce problème : lorsque nous ajoutons des propriétaires ou des modérateurs, ceux-ci ne sont pas pris en compte à moins d'un redémarrage des processus sympa.

J'ai ajouté une impression dans les journaux de bord.

la liste test-mp-srv2 n'accepte la diffusion des messages que des proprio et mo

[2017-10-07 04:12] ikedas commented on #83
I think this bug is a duplicate of issue #11.

[2017-10-07 07:07] racke commented on #83
So in #11 we include the owners from another list ... which is only synced periodically and not when the members of the included list changes. Is that the case here as well, @pascalmaes? BTW thanks for providing us with a detailed report.

[2017-10-07 07:32] pascalmaes commented on #83
No, it's not the case.
The new owner has been added with the web interface (at 14:29:12) without any error and the admin_table has been well updated

`list_admin               user_admin                            robot_admin                    role_admin date_admin..`
`test-mp-srv2 	pascal.maes@gmail.com 	listes.uclouvain.be 	owner 	2017-10-06 14:29:12`

[2017-10-07 08:41] ikedas commented on #63
Merged. Thanks for reporting & fixing bug!

[2017-10-07 08:41] #63 closed

[2017-10-07 09:00] ikedas commented on #83
Ok, remove `duplicate` label and investigate further.

[2017-10-07 11:24] ikedas commented on #60
Though I haven't tried, `sandbox` attribute seems to be useful:
[MDN: <iframe>: sandbox](https://developer.mozilla.org/docs/Web/HTML/Element/iframe#attr-sandbox)

[2017-10-07 11:30] racke commented on #71
OK, I can confirm this problem. I'm working on a Sympa migration and it blew away my admin table as well. Too bad really 😠

[2017-10-07 11:58] racke commented on #71
[code]

Oh well, so it is just deleting and not adding it back (last log message added locally).
Will investigate further.

[2017-10-07 12:42] ikedas commented on #57
- For example on OpenLDAP, by default, page size limit seems equal to "hard size limit" (size limit of total count of results enforced by server), and not to be enforced by server (cf. [Admin manual](http://www.openldap.org/doc/admin24/limits.html#Size%20limits%20and%20Paged%20Results)).
- On Active Directory, page size limit is enforced by MaxPageSize LDAP policy of server, and its value is lower

[2017-10-07 12:55] racke commented on #71
My analysis:

` my $all_lists = Sympa::List::get_lists('*', 'reload_config' => 1);`

With that call, Sympa doesn't consult the database but goes into the list_data directories of all the robots and searches for files named "config".

If it doesn't find these files, Sympa doesn't put back in the admins into the admin table.

Do you use robots in your setup, @pkissman ?

[2017-10-08 01:40] ikedas commented on #71
I see, but why get_lists() omits existing lists? @racke, can you think of anything?

[2017-10-08 07:32] racke commented on #71
Hard to tell, insufficient permissions maybe.

[2017-10-08 08:53] ikedas commented on #71
Ok, I'll merge your PR. Let's wait for the next chance of upgrading.

[2017-10-08 12:04] racke opened #87 "Password encryption: Dropping Crypt::CipherSaber"
The old documentation says:

But when I'm looking at my databases, I see only MD5 encryption. Note: I'm using Debian packages, but they
have a dependency on Crypt::CipherSaber.

[2017-10-08 21:29] pkissman commented on #71
Stefan,

I just run lists on a single domain. There are no virtual hosts or robot.conf files.  Thanks for asking.  I'm not sure how that plays into your analysis below.

I tend to do upgrades as a superuser and then change ownership of files back to the sympa user after the install.  so anything in the upgrade script should have sufficient permissions to read and write wherever it needs to.

pjk

[2017-10-09 04:16] ikedas commented on #87
According to OChangelog, MD5 password hash was introduced on Sympa 6.0 (https://github.com/sympa-community/sympa/commit/311cae8c3de32c04515d3c16dffa408dae048e33), and RC4 password encription was deprecated on Sympa 6.2 (https://github.com/sympa-community/sympa/commit/a16fd3e5c65e7b01259284c6225e762a34701df4).

Currently, RC4 is used only for encryption/decription of HTTP session cookie.

[2017-10-09 14:35] wouldsmina commented on #60
I don't find sandbox parameter to open link in parent page. I add `<base target="_parent" />` into my.tt2 but they don't show menu (due to `nomenu` parameter).

Is there any way to get `[% which %]` into home.tt2?

[2017-10-10 01:44] #73 closed

[2017-10-10 05:12] ikedas commented on #60
@wouldsmina, I tried with iframe.

1. In `home.tt2`, rewrite sections such as:
[code]
   to:
[code]
   and son on.

   `allow-top-navigation` attribute was needed with my Chrome, or `_top` links below were disabled.  Probably the other attributes (such as `allow-forms`) may be required to embed other pages than `my`.

2. In `my.tt2`, rewrite links such as:
[code]
   to:
[code]
   and so on.

[2017-10-11 03:27] ikedas opened #90 "Reorganizing log levels"
Currently, `err` and `notice`, or `info` and `notice` levels are sometimes confused. And, `err` level outputs traceback to syslog even when the error was caused by user.

So I wish to clarify the purpose of each log level.

See also issue #64.

Summary of proposal
-------------------

  * `err` level will be separated to `crit`, `intern` and `user`.

  * `user` level will be used for information c

[2017-10-12 01:38] ikedas commented on #78
jquery* were upgraded in sympa-6.2 branch. This ticket will be kept open for debugging.

[2017-10-12 03:48] ikedas commented on #83
I misunderstood. It seems a duplicate of #7.

[2017-10-12 04:53] pascalmaes commented on #83
Yes, it is is.
Could we apply the patches ?

Why theses patches have not been applied in the following versions ?

[2017-10-12 05:39] ikedas commented on #83
The last patch seems not able to solve the problem.

Anyway, we would be better to continue on #7.

[2017-10-12 07:01] pascalmaes commented on #83
Same as #7

[2017-10-12 07:01] #83 closed

[2017-10-12 08:33] wouldsmina opened #91 "Topic names in topics.conf with uppercase are ignored"
Hello,

No list is shown when selecting a topic with uppercase.

part of topics.conf :
[code]
Debug :
`
Oct 12 09:39:35 sympa wwsympa[9087]: debug3 Sympa::List::get_lists() filter (scalar(grep { $_ eq "adm" or index($_, "adm/") == 0 } @{$list->{"admin"}{"topics"} || []})); (topics_list LIKE '%,adm,%' OR topics_list LIKE '%,adm/%')
`

OS : DEBIAN 9
Sympa : 6.2.16

[2017-10-12 09:40] ikedas commented on #6
Stagnant issue. Closed for the present.

[2017-10-12 09:40] #6 closed

[2017-10-12 09:50] #72 closed

[2017-10-12 13:38] MargoM commented on #91
I tried to reproduce, same debug:
[code]
OS: CentOS 7.4
Sympa: 6.2.20

I think there should be grep -i (ignore case).

[2017-10-12 13:40] racke commented on #7
At this point I would suggest to add a global/list option to switch off the admin cache, which probably should to on by default.

[2017-10-12 13:54] racke commented on #91
Which database do you use @wouldsmina, @MargoM

[2017-10-12 14:07] wouldsmina commented on #91
hi @racke
I use MySQL, but topics are stored in config file...

@MargoM I would rather `grep { lc($_),...` but I don't find where `get_lists()` execute this command. If any body help me to find where can i change this line, I can test and make a PR...

[2017-10-12 14:20] racke commented on #91
This should be the grep you are searching for:

https://github.com/sympa-community/sympa/blob/master/src/lib/Sympa/List.pm#L8066

[2017-10-12 14:42] racke commented on #91
I think you also need to lc($_) in index(...).

[2017-10-12 14:46] wouldsmina commented on #91
not working too

[2017-10-12 16:17] racke commented on #91
I'm wondering why you don't just lowercase "ADM" in topics.conf. I suppose it doesn't show in the UI anyway.

[2017-10-12 20:27] MargoM commented on #91
I'm using MySQL. Like racke said, i think you should use uppercases in title/title.fr. This "ADM" is only stored in configuration file and in list_table table.

[2017-10-12 20:47] MargoM commented on #7
@racke how I can switch off the admin cache? You mean this: src/lib/Sympa/List.pm, https://github.com/sympa-community/sympa/issues/7#issuecomment-293568974? I'm using this change in List.pm and it seems to be working fine.

[2017-10-13 01:01] ikedas commented on #69
Merged, then this issue is closed.

[2017-10-13 01:01] #69 closed

[2017-10-13 01:05] ikedas commented on #10
So it is a duplicate of the bug fixed after 6.2.16.  This issue is closed by now.

[2017-10-13 01:05] #10 closed

[2017-10-13 07:20] wouldsmina commented on #91
that's what I did. I just wanted to inform about this unexpected behavior

[2017-10-13 08:01] sivertkh opened #92 "(Re)allow lists to only have owners from data sources"
This might be more of a feature request then a bug rapport.
In version 5 it was possible to have lists that only had owners from a data source. There was no need to set one manually a well.

If you try to remove the last owner in 6.2.16 you get the following error message.

`ERROR (edit_list) - Parameter 'owner' is mandatory. Ignoring deletion.
ERROR (edit_list) - No parameter was edited `

[2017-10-13 08:01] ikedas commented on #76
@MargoM, please report your comment as another issue. Thanks!

[2017-10-13 08:04] MargoM opened #93 "Change redirect after incorrect choosepasswd - UX suggestion"
After clicking firstpasswd/renewpasswd button I receive ticket URL, where I can choosepasswd. If the inserted passwords are not same it will display error message for some seconds (example: "ERROR (setpasswd) - The passwords you typed do not match"). Now it is blank page (/wws) and I'm logged in without password, it isn't a problem. I would like to say that, maybe it would redirect to (/wws/pref)

[2017-10-13 08:07] ikedas commented on #91
I suppose only lowercase topic names are expected. The behavior accepting uppercase topic names seems bug.

[2017-10-13 08:11] racke commented on #92
Yeah that makes sense. So I think it is a bug, as it defeats the purpose to have owners included from a database.

[2017-10-13 08:14] wouldsmina commented on #91
ok. So I close this ticket.
thanks

[2017-10-13 08:37] ikedas commented on #91
Reopened.

If `db_list_chache` is `on` and database is MySQL, `topics_list` field will be matched using case-insensitive collation (`utf8_general_ci` etc.): Uppercase topic identifiers will be treated the same as lowercase.  This is not the case with the other database and no database (`db_list_chache` is `off`).

One solution is to normalize topic identifiers to lowercase.

[2017-10-14 18:17] MargoM opened #98 "Review.tt2 button correction."
Hello!

I think some buttons ("Add" and "Multiple add") in review.tt2 are not in correct position. Screenshot: https://i.imgur.com/dZY2AYR.png
It seems that after this change https://github.com/sympa-community/sympa/commit/49f282562326461016a63936642d0c8aa740b647#diff-66948009965069770acd20e212cdbbe6 some html code (breaks and stuff) disappeared.

Sympa: 6.2.20.

Best wishes!

[2017-10-15 02:56] ikedas commented on #98
@MargoM, could you give the modification to correct the problem?

Submitting pull request is better way.  But if you are not familiar with PR, please post the diff against current template.

[2017-10-15 03:00] ikedas commented on #70
Merged bug fix will be available on the next beta in November.  Thanks for lucid bug report!

[2017-10-15 03:00] #70 closed

[2017-10-15 10:06] MargoM commented on #98
@ikedas, a suggested modification:

default/web_tt2/review.tt2, (https://github.com/sympa-community/sympa/blob/master/default/web_tt2/review.tt2)

[code]

[2017-10-16 04:11] ikedas commented on #98
Merged. Thanks for correction!

[2017-10-16 04:11] #98 closed

[2017-10-16 07:56] iyenal opened #100 "XSS Execution"
The execution of XSS is possible through file upload in the document sharing server.
[FILE.zip](https://github.com/sympa-community/sympa/files/1386586/FILE.zip)
The file used is joined in this issue.

[2017-10-16 08:21] ikedas commented on #100
Hi @iyenal,

Can you please describe how XSS is possible with Sympa?

[2017-10-16 14:03] nqb opened #101 "[6.2.16] Welcome message not send after subscription by owner"
Hello,

In 6.2.16, as owner of a list, if you click on **http** link received by mail to add new subscriber, new subscriber don't receive welcome message. However, if you click on **mailto** link, new subscriber receive welcome message.

Steps to reproduce :
* Create a list with config in [attachment](https://github.com/sympa-community/sympa/files/1387686/config.txt)
* As Foo user with no account

[2017-10-17 02:40] ikedas commented on #101
Hi @nqb,
Can you check recent stable version (currently 6.2.22)?

[2017-10-17 07:29] nqb opened #102 "List users with accounts in web interface"
Hello,

Today, in Sympa, when you want to list users with accounts from web interface, you can't.

You need to go in database and launch a SQL request like this :
`SELECT email_user, gecos_user FROM user_table;`

Could you add a feature to list users with accounts from web interface **even** if they aren't subscribers ?

Thanks.

[2017-10-17 08:32] MargoM opened #103 "List configuration file reading order"
Hi!

Could someone explain how Sympa reads the list configuration files? Is it same with sympa.conf?

I'm planning Sympa update (version 3 to 6), so I need to modify list configuration files. Is there any specific line (before or after line) where the Sympa 6 archive list parameters should be?

[2017-10-17 16:23] racke commented on #103
You can use sympa itself to upgrade config files, database etc from one version to another, e.g.:

`sympa --upgrade --from=6.1.22 --to=6.2.22`

Not sure if that works all the way from version 3, but you can try it in a test instance.

[2017-10-18 04:04] ikedas commented on #103
Hi @MargoM,

In addition to instruction by racke, if you are planning upgrade from Sympa prior to 6.2, you should read these pages:
- [Upgrading instruction](https://www.sympa.org/faq/upgrade-to-v6.2)
- [Release notes](https://github.com/sympa-community/sympa/blob/6.2.22/NEWS.md)
- [Earlier release notes](https://github.com/sympa-community/sympa/blob/6.2.22/ONEWS)

and you may find out how you hav

[2017-10-18 07:01] #103 closed

[2017-10-18 08:19] nqb commented on #101
I will check ASAP

[2017-10-18 15:27] dverdin commented on #101
This was fixed in 6.2.17b, thanks to @salaun-urennes1 : https://github.com/sympa-community/sympa/pull/1

[2017-10-19 06:36] nqb commented on #101
Thanks @dverdin

[2017-10-19 06:36] #101 closed

[2017-10-20 04:41] ikedas commented on #76
@pkissman, could you please check if this patch will correct problem? [patch](https://github.com/sympa-community/sympa/commit/d6c9ad738d18bca9c3e283a48635806e61c75408.patch)

[2017-10-20 12:58] pkissman commented on #76
@ikedas , I've confirmed that the patch works.  Thanks very much.

[2017-10-20 19:01] igorzigorz opened #106 "version 6.2.22, problem with virtual hosts"
Could not configure version 6.22 to work with virtual hosts. FreeBSD, --with-confdir, sysconfdir=/usr/local/etc/sympa
apache 2.4 + mod_fcgid
simple robot.conf with others  title.
Shows only the main config.
When  replace  with version 6.2.16 same config all works.

[2017-10-21 03:21] ikedas commented on #76
Merged. Thanks for reporting bug!

[2017-10-21 03:21] #76 closed

[2017-10-23 01:37] ikedas commented on #106
Hi @igorzigorz,

You would be better to create two directories named by domain:
- EXPLDIR/_domain_ (see Sympa/Constants.pm to know where is EXPLDIR).
- SYSCONFDIR/_domain_ (where `robot.conf` is placed).
Note that these directories have to be writable by user `sympa`.

[2017-10-23 01:39] ikedas commented on #7
The PR above can solve the problem.  Please check it (it will be included in next beta, 6.2.23b.1).

[2017-10-23 20:38] igorzigorz commented on #106
Thanks!
I created directory EXPLDIR/domain and it worked.
Why is it better if it's mandatory?

[2017-10-24 01:02] ikedas commented on #106
EXPLDIR/_domain_ will contain the configurations of all lists in virtual domain _domain_.  That's why this is mandatory for virtual domain.

[2017-10-24 08:28] #106 closed

[2017-10-24 10:09] igorzigorz commented on #106
In any case it is bad behavior. SYSCONFDIR/domain a sufficient condition for the web interface. About EXPLDIR/domain should be a warning.

[2017-10-26 18:28] mikekuriger commented on #27
Has there been any movement on this issue?

[2017-10-27 00:56] ikedas commented on #27
@mikekuriger, as you see, none has contributed anything yet, such as a patch.

[2017-10-27 18:43] MargoM opened #108 "HTML hyperlinks not working in web archive (MHonArc)"
Hello!
Location: wws/arc/listname (web archive)
I discovered that HTML hyperlinks are not working (if I tried to rebuild old archives). Also I reproduced this issue in demo.sympa.org. E-mail links (mailto) works fine, but not HTML links (href). All hyperlinks work when I read list e-mails in email client (Thunderbird).

Some "href" will disappear, see second line:
[code]

Or this problem is relate

[2017-10-28 03:02] ikedas commented on #108
Duplicate of PR #48, #45.

Please check [allowed_external_origin](https://sympa-community.github.io/man/sympa.conf.5.html#allowed_external_origin) introduced on Sympa 6.2.20.

[2017-10-29 14:19] MargoM commented on #108
Thanks again ikedas! Case closed.

[2017-10-29 14:19] #108 closed

[2017-10-30 10:53] racke opened #110 "Duplicate precedence header tripping up Amazon SES"
[code]

This is causing Amazon SES to reject the message, thus it is a quite serious problem.

`status=bounced (host email-smtp.eu-west-1.amazonaws.com[52.30.4.9] said: 554 Transaction failed: Duplicate header 'Precedence'. (in reply to end of DATA command))`

[2017-10-30 11:24] racke commented on #110
See https://github.com/sympa-community/sympa/blob/master/src/lib/Sympa/Spindle/TransformOutgoing.pm#L89.

[2017-10-31 03:33] ikedas commented on #110
`Precedence:` field has no standard definition. Duplicate fields with values `list` and `bulk` were intended (See also below).

I suppose a better solution is removing this (these) field, if we can confirm that the other measures to prevent mail loop are sufficiently effective.

----
1. [RFC 2076, 3.9](https://tools.ietf.org/html/rfc2076#section-3.9). "Precedence:".
2. [[sympa-users] Handling out/

[2017-10-31 03:54] ikedas opened #111 "Archived-At: field on resent messages in archive are wrong."
When a message in archive is resent using "send it back to ..." button, `Archived-At:` field has broken value.

In the same month of date when original message was posted, this field was correctly:
[code]
But in the next month, it will be:
[code]

[2017-10-31 08:16] racke commented on #110
We actually need this field to prevent autoreplies hitting the list, but it should be configurable instead of hardcoded. That would solve my problem.

[2017-11-01 04:23] ikedas commented on #80
Closd at present.

[2017-11-01 04:23] #80 closed

[2017-11-01 05:18] ikedas commented on #93
@MargoM, could you please check if this patch solves the problem? [\[patch\]](https://github.com/sympa-community/sympa/commit/aa6b7b191af07803102c62d0541eb111c36db647.patch)

[2017-11-01 09:05] MargoM commented on #93
@ikedas, I appreciate your work! This patch works, thanks! Case closed.

[2017-11-01 09:05] #93 closed

[2017-11-01 15:54] racke opened #115 "Probem typo"
[code]

[2017-11-02 13:47] xavierba opened #116 "default/ca-bundle.crt is outdated"
[code]

The file should be updated with more current content.
Also, as distributions are shipping this file in various locations (eg. /etc/pki/tls/certs/ca-bndle.crt in Fedora, /etc/ssl/certs/ca-certificates.crt in Debian), it could be made a build time configure option, this would help packagers.

[2017-11-02 15:09] racke commented on #116
Does Sympa still use that file? At any rate, using the file provided by the OS makes way more sense.

[2017-11-04 23:29] PhilLAL commented on #14
I get back to let readers know that I found 2 tools (https://github.com/icy/google-group-crawler and https://github.com/himanshukhantwal/google-grp-scraper) but I finally found another solution: I have an email account which received all mails from mailing lists I want to import so I will try to use http://www.sympa.org/distribution/contrib/import_mbox.sh to import these mails

[2017-11-04 23:37] PhilLAL opened #117 "mbox to sympa : doc about changes between old version (2006) and current version"
Hello,
I am interested into using http://www.sympa.org/distribution/contrib/import_mbox.sh to import MBOX into the archives of a list.
However, this script has been written in 2006 and makes some references to path which do not exist anymore :
* "$SYMPA_ROOT/expl/$LIST_NAME/archives"
* "$SYMPA_ROOT/bin/arc2webarc.pl" seems to refer to be by default into directory /usr/share/sympa/bin/arc2webarc.pl

[2017-11-06 01:49] ikedas commented on #116
[Here](https://github.com/sympa-community/sympa/blob/sympa-6.2/src/lib/Conf.pm#L1913).

[2017-11-06 01:52] #111 closed

[2017-11-06 03:25] ikedas commented on #117
See [Directory layout](https://sympa-community.github.io/layout.html). To know these paths specific to your environment, see content of ``Sympa/Constants.pm`` under MODULEDIR directory.

Format of the file to trigger off rebuilding has been changed.  To know the newer format, request rebuilding from web interface with archived.pl being stopped, and see content of SPOOLDIR/outgoing directory.

[2017-11-07 10:14] PhilLAL commented on #117
Thank you for your fast answer.
I add that these comments are based on a Debian installation (I just saw that several variables are not defined for Debian: $EXPLDIR , $SPOOLDIR, $LOCALEDIR , $STATICDIR, $ARCDIR, $BOUNCEDIR).
In addition $SPOOLDIT does not exist.

I am not sure to understand your suggestion. Could you confirm I should:
- kill archived.pl process
-go into "sympa admin" and then into

[2017-11-08 00:40] ikedas commented on #91
Merged.  This issue is closed.

[2017-11-08 00:40] #91 closed

[2017-11-08 00:47] ikedas commented on #117
Directories marked "???" are under investigation. Please check your ``Sympa/Constants.pm`` and give feedback.

That's what I wanted to say. If archive.pl is running, it will immediately process the file and remove it.

[2017-11-08 16:23] xavierba opened #119 "Remove incomplete example intranet scenario"
According to @ikedas, intranet scenario are incomplete examples and should not be used.
This would mean removing the following files :
default/create_list_templates/intranet_list/comment.tt2
default/create_list_templates/intranet_list/config.tt2
default/create_list_templates/intranet_list/
default/scenari/access_web_archive.intranet
default/scenari/create_list.intranet
default/scenari/review.intra

[2017-11-08 18:02] xavierba commented on #78
The jquery update breaks the 'edit list config' dropdown menu in mailing list admin panel.
Whatever item is selected in the dropdown menu will display the list definition part of the config.

[2017-11-08 18:13] racke commented on #78
Any errors shown in the JavaScript console? Which browser/version do you use?

On November 8, 2017 7:02:00 PM GMT+01:00, xavierba <notifications@github.com> wrote:

[2017-11-08 19:02] xavierba commented on #78
My bad, jquery-migrate.js is not installed because I've not ran autoconf. oops :-(

[2017-11-08 19:29] xavierba commented on #78
It might not be just me being stupid...
Once the previously missing jquery-migrate.js is added, using Firefox 56, I get this in the js console:
20:21:02.087 TypeError: newFunc is undefined 1 jquery-migrate.js:102:3
        migrateWarnFunc/obj[prop] https://lists.domain.tld/static-sympa/external/jquery-migrate.js:102:3
        find https://lists.domain.tld/static-sympa/external/jquery.js:2708:35

[2017-11-10 00:59] ikedas commented on #78
I could not reproduce reported error with:
- jquery.js 3.2.1
- jquery-migrate.js 3.0.1
- jquery-ui.js 1.12.1

[2017-11-10 04:38] ikedas commented on #100
Deficient information. I'll tag this invalid.

[2017-11-13 09:33] xavierba commented on #78
Thanks for checking. The issue was actually (again) on my side, it worked with chromium (which I barely use) and worked again in Firefox after clearing the cache. Sorry for the noise. I'll retest when next beta release is available to double-check everything is in order.

[2017-11-16 04:29] ikedas commented on #115
Also, "You message to list %1 could not be delivered." in the same entry would be "You*r* ...".

[2017-11-16 09:14] mhow2 opened #122 "moderation UI doesn't allow mass operations"
Hi,
I am refering to this post (and their replies) https://listes.renater.fr/sympa/arc/sympa-fr/2017-01/msg00005.html

It is a regression from the previous versions of sympa and very annoying when it's needed to delete hundred of spam messages from the UI.

At some point the UI could provide a way to "moderate selected messages, reject others"

Regards,

[2017-11-16 09:42] sivertkh commented on #122
+1 Out users complain about this as well.

[2017-11-16 10:23] ikedas commented on #122
wwsympa.fcgi itself accepts multiple items to process.  If templates are changed appropriately, requested feature will be realized.  Issue #27 is alike.

PR is awaited.

[2017-11-16 10:34] mhow2 commented on #122
@ikedas : as it is a regression, maybe we can take a look to what was the template before ? Could you lead potential contributors to the related files to alter ?

[2017-11-17 02:12] ikedas commented on #122
@mhow2, The template is `web_tt2/modindex.tt2`. Its content has been changed during development of 6.2.

[2017-11-17 04:00] #100 closed

[2017-11-19 00:44] PhilLAL commented on #117
For debian directories, it seems to me they can be found here : https://packages.debian.org/stretch/amd64/sympa/filelist

[2017-11-19 06:42] ikedas commented on #117
@PhilLAL, perhaps the script have to be modified as below (Replace `USER`, `GROUP` etc. with values in Sympa/Constants.pm):

| In import_mbox.sh                           | Would be modified to |
| --- | --- |
| `sympa:webserver`                            | `USER:GROUP` |
| `$SYMPA_ROOT/expl/$LIST_NAME` | `EXPLDIR/$SYMPA_DOMAIN/$LIST_NAME` (recommended) or `EXPLDIR/$LIST_NAME`  |
| `$SYMPA_ROOT/b

[2017-11-19 06:57] ikedas commented on #115
Reported typos and corresponding catalog entries were [fixed](https://github.com/sympa-community/sympa/commit/1e2e0941fd771a702b7d04f2166bbe59d90ca6cd#diff-e18b607efb46e4cdee50fb21b43a2e07) (I wrote a script to reflect changes on en_US.po to the sources).

I suppose, to catch complaint about typos, this issue would be better to be left open.

[2017-11-20 14:44] MorenoUniTN opened #125 "No attach recived from mailing list where subscribes are set hmtl-only mode option"
Hi,
i have much list configured with subsriber are in html-only mode setting on you recived option, but in this case if i send an attachment to te list it's not sed it.
The body of the sended mail is ok , but not recive any attach

If view the maillog i see a first size correct, but the second is more less than first

MailLog
----------------
[code]
----------------

[2017-11-20 15:03] MargoM opened #126 "Parameter list.sequence in list_templates."
I would like to add list.sequence number to custom_subject. It works if I add this manually, but not in list_templates.

[code]

expected result:
[code]

Thanks.

[2017-11-21 08:57] ikedas commented on #126
It can be added by:
[code]

[2017-11-21 09:46] MargoM commented on #126
Yesh, thanks @ikedas.

[2017-11-21 09:46] #126 closed

[2017-11-22 03:49] ikedas commented on #71
I encountered this bug upgrading 6.2.22 to 6.2.23b.1.  Reloading httpd and sympa services seemed to restore owners/editors.
A commit above may avoid it.

[2017-11-23 04:19] #37 closed

[2017-11-24 03:38] ikedas commented on #125
[Discussion on sympa-users](https://listes.renater.fr/sympa/arcsearch_id/sympa-users/2017-11/e56c4696-43f0-e6f1-2a38-08b44bfa944f%40renater.fr).

I suppose ``htmlonly`` mode would be better to be removed. If there no objection, I'll do it.

[2017-11-24 06:52] racke commented on #125
Yes please remove it 👍

[2017-11-24 07:18] MorenoUniTN commented on #125
Yes for me.
Thanks for all!

[2017-11-24 07:43] racke commented on #119
Can you please elaborate why they are incomplete? Some people might already use them.

[2017-11-24 08:22] ikedas commented on #119
It's about [customization](https://github.com/ikedas/sympa-rpm/blob/78986b3fb04a399e0afa4c4c3a24f14b7ed68b4b/SPECS/sympa-6.2.spec.in#L433-L450) I made on rpm spec. I remember why I did it.

Intranet scenarios does not always work as expected (see [`default/scenari/*.intranet*`](https://github.com/sympa-community/sympa/tree/df8fef001a3a05799031e2f354fdf61b091b3f3b/default/scenari) scenarios: E.g. h

[2017-11-24 09:27] mhow2 commented on #122
@ikedas : to be perfectly clear, from who do we wait a PR ? Is this bug going to be processed by the core team or by contributors ? I'm totally new with templating in sympa, I think it could go way faster with someone used to it. @dverdin maybe ?

[2017-11-25 06:13] ikedas commented on #125
Please check if [this patch](https://github.com/sympa-community/sympa/commit/a47309b62c339cf5a69c76dcb9f6ce6423931969.patch) will solve the problem.

[2017-11-29 09:35] dverdin commented on #49
There is a mechanism in Sympa which tests the age of config file when loading a list. if the config file is newer than the last time it was accessed, it is reloaded. Simple yet effective. Did this mechanism disappear?

[2017-11-29 12:50] aepli opened #132 "Cosmetic issue in error message with ldap driver"
Hello,

During a test to automatically add users to a list, I made a mistake in the user name and got the following error messages:

The problem comes from initializing the $host_entry variable in the Sympa::DatabaseDriver::LDAP package on line 125:

In my case, uri already contains the "ldaps://" scheme, which causes the scheme to be displayed twice in the sympa log.

Regards.

*Debian 9.2*
*Perl

[2017-11-29 17:19] agouaux commented on #49
Well, as a customer, I think this is a bad idea.  As documented in #11 this all worked before upgrading to 6.2(.16?)  To adopt this approach means that whoever broke the code is unable to fix what they broke, and that seems to be a poor design decision.  :-)

Since I'm not a fan of complaining about something without putting in some effort to help rectify the problem, I had hoped to debug this pro

[2017-11-30 02:14] ikedas commented on #49
There are no changes related to this proposal before 6.2.16. The bug you experienced is not due to future changes.

[2017-11-30 02:16] ikedas commented on #11
Please check 6.2.23b.2

Note: This bug looks related with issue #7.

[2017-11-30 06:09] ikedas commented on #71
In my side, the bug was not be reproduced upgrading 6.2.23b.1 to 6.2.23b.2.

[2017-12-02 06:42] ikedas commented on #87
- After all, Crypt::CipherSaber is no longer used to encrypt passwords.
- And I doubt if encryption of cookie values will make HTTP session more secure: Each randomized value can be reusable in the period of ``cookie_refresh``.

So I suppose Crypt::CipherSaber would be better to be removed. If there is no objection, I'll submit a PR.

[2017-12-06 09:06] stepansantalov opened #135 "two lists in reciepients - delivered only alphabetically first"
Recently i discovered that if one sends message to two maillists, resided on one sympa server
simultaneously, only one, the alphabetically first is delivered and the second one silently disappears (no track in sympa logs). Is it normal behaviour, misconfiguration of sympa, or misconfiguraton between sympa and MTA?
Am i alone who run into such an issue?

[2017-12-06 09:06] ikedas commented on #132
Fixed. Thanks for improving Sympa!

[2017-12-06 09:06] #132 closed

[2017-12-06 09:09] ikedas commented on #7
If problem will not be reported reproducing with 6.2.23b.2 by 14 Dec., I'll close this issue.

[2017-12-06 09:10] ikedas commented on #11
If problem will not be reported reproducing by 14 Dec., I'll close this issue.

[2017-12-06 09:15] ikedas commented on #135
@stepansantalov, could you please show the version and configuration of MTA?

[2017-12-06 09:17] ikedas commented on #125
Ok, it seems fixed. Close.

[2017-12-06 09:17] #125 closed

[2017-12-06 09:18] ikedas commented on #116
Ok, it seems fixed. Close.

[2017-12-06 09:18] #116 closed

[2017-12-06 09:22] ikedas commented on #78
If another problem will not be reported by 14 Dec., I'll close this issue.

[2017-12-06 09:30] stepansantalov commented on #135
Sympa version is 6.1.24~dfsg-1 as package in ubuntu xenial.

The part for sympa in MTA (postfix):

relay_domains = pgsql:sympadomains
transport_maps =  pgsql:sympalist
                  pgsql:sympabounce
sympadomains_user = sympa
sympadomains_password = xxxxx
sympadomains_dbname = sympa
sympadomains_hosts = 192.168.2.2
sympadomains_query = select distinct 1 from list_table where robot_list='%s';

[2017-12-06 14:33] ikedas commented on #135
@stepansantalov, and what did you added on master.cf?

[2017-12-06 14:40] stepansantalov commented on #135
sympa is on the other server, so postfix goes there by ssh.

sympa     unix  -       n       n       -       -       pipe flags=R user=vmail argv=/usr/bin/ssh sympa@192.168.27.15 /usr/lib/sympa/bin/queue ${recipient}
sympabounce unix -      n       n       -       -       pipe flags=R user=vmail argv=/usr/bin/ssh sympa@192.168.27.15 /usr/lib/sympa/bin/bouncequeue ${recipient}

[2017-12-06 17:40] MargoM opened #136 "listname info@domain not working"
I am having problem with listname: info. If someone sends email to info@domain, only where it goes is here (root mailbox): /var/spool/mail/root and in the terminal: You have mail in /var/spool/mail/root. After changing info to info1 it works well.

Any idea how to fix this issue? Some redirection?

Centos 7.4
Sympa 6.2.22
Postfix 2.10.1

[2017-12-06 18:05] MargoM commented on #136
SOLVED:

This redirection was here: /etc/aliases
[code]

removed info:postmaster line, now everything work.
Maybe this is helpful for someone else. Thanks :)

[2017-12-06 18:05] #136 closed

[2017-12-07 01:19] ikedas commented on #135
Interesting. I'll borrow this magic someday.

``${recipient}`` is expanded to all recipients, then ``queue`` will take only the first one. Can you try adding these lines to `main.cf`?
[code]
See also [pipe(8)](http://www.postfix.org/pipe.8.html).

[2017-12-07 09:26] dkntl opened #137 "Managing (edit, disable) the exclude list in webinterface"
Dear Sympa developers,

I stumbled upon a behaviour of Sympa that seemed like a bug first. I have a mailing list with a data-source which manages the subscribers of the list automatically. There were also some manually subscribed addresses in the list - some of them were also present in the data-source. Because I wanted them gone when they are gone in the source (and did not want the purely manual

[2017-12-10 22:14] smrhp opened #138 "View last bounce (Subscriber information)"
Clicking the link will not display the latest error.
Server : debian jessie
Client : Sympa 6.2.23b, Firefox 57, Ubuntu

[2017-12-11 00:52] ikedas commented on #138
@smrhp, Thanks for reporting. I confirmed it. Please continue on issue #78.

[2017-12-11 00:52] #138 closed

[2017-12-11 00:54] ikedas commented on #78
Moved from issue #138.

Clicking "View last bounce" link in subscriber information, it has no effect and following traceback is shown on console:
[code]

[2017-12-11 08:16] ikedas commented on #78
With jquery-migrate 1.4.1 the problem seems not to reproduce.  So I think we have at least three options:
1. Downgrade jquery-migrate to 1.4.1 and release Sympa 6.2.24 at due date (21 Dec.).
2. Postpone release of Sympa 6.2.24 and seek the way to solve the problem radically.
3. Roll back changes on jQuery and release Sympa 6.2.24 with vulnerable jQuery at due date.

Is there any others?

[2017-12-11 08:40] ikedas commented on #137
@dkntl, "Exclude" link on review page will show list of exclusion, though it does not suffice...

[2017-12-11 13:28] xavierba commented on #78
The bundled jquery in sympa has been updated straight from 1.11.1 to 3.2.1, which is a 2 major versions bump.
jquery advices to update from one major version to the next : https://jquery.com/upgrade-guide/3.0/#jquery-migrate-plugin
The issue here is likely some changes between jquery 2 to jquery 3.
I believe jquery-migrate 1.4 is intended to update from jquery 1 to jquery 2, while jquery-migrate 3

[2017-12-12 13:00] ikedas commented on #78
I see we had to use jquery-migrate 1.4.  I'll check again if Sympa works with it.

[2017-12-12 15:33] tannevaled commented on #7
[root@listes ~]# yum info sympa
Modules complémentaires chargés : security
Paquets installés
Nom        : sympa
Architecture        : x86_64
Version     : 6.2.23b.2
Révision     : 1.20171130.RHEL6
Taille        : 18 M
Dépôt         : installed
Depuis le dépôt   : sympa-ja.org
Résumé        : Gestionnaire de listes électroniques
URL         : http://www.sympa.org
Licence       : GPLv2+
Description 

[2017-12-12 16:53] agouaux commented on #11
Unfortunately, problem persists:

[root@aistsympa01 ~]# grep VERSION /deploy/sympa/bin/Sympa/Constants.pm
use constant VERSION => '6.2.23b.2';
[root@aistsympa01 ~]# cmp /deploy/www/wwsympa.fcgi /deploy/sympa/bin/wwsympa.fcgi

The stest1 list includes owners and editors from other lists:

`
owner_include
profile privileged
reception mail
source owner_or_moderator_sympa_list
visibility noconceal
sou

[2017-12-13 04:17] ikedas commented on #7
@tannevaled, could you please show the Sympa log?

[2017-12-13 04:22] ikedas commented on #11
@agouaux,
- Could you please show what operations you performed?
- Do you still see "Failed to include list admins" error?

[2017-12-13 17:10] agouaux commented on #11
I get this in the web interface when I attempt to add the same address as both an owner and a moderator.  This is pretty consistently repeatable.

<img width="811" alt="screen shot 2017-12-13 at 10 46 56 am" src="https://user-images.githubusercontent.com/27364661/33950894-2b688912-dff3-11e7-901c-f7358ba12799.png">

The new address seems to be added to both owner and moderator despite the warning s

[2017-12-14 01:06] ikedas commented on #11
@agouaux, thanks for detailed report!

Spurious error messages are problem, however I look it a bit difficult to fix right away.  So I think this issue would be kept open and would be fixed in the near future (next spring or ahead).  Until then, please be patient ignoring the error messages.

[2017-12-14 10:04] l4uc3 commented on #122
Hi everyone,
We had the same pb in university of Strasbourg. We changed the modindex.tt2 to improve the mass moderation. Enclosed is the modindex.tt2 we use.
[modindex.tt2.gz](https://github.com/sympa-community/sympa/files/1558628/modindex.tt2.gz)
I added a pull request with the file. Up to you to merge it.
Have a good one !
Laurence

[2017-12-14 11:41] tannevaled commented on #7
[sympa_log.txt](https://github.com/sympa-community/sympa/files/1559022/sympa_log.txt)

[2017-12-14 11:43] tannevaled commented on #7
L'utilisateur lismaster@domain.tld a été confronté à une erreur
interne
(Interface web - ACTION : Command process - LIST :
xdev@listes.domain.tld) :

Problème de synchronisation des administrateurs de la liste 'xdev'

Consultez les logs pour plus de détails.

[2017-12-14 13:52] dverdin commented on #122
Thanks Laurence!
This was becoming worrying...
It's good to see you back to Sympa contribution, by the way. ;-)

[2017-12-15 04:16] ikedas commented on #7
@tannevaled,
[code]
The error ``duplicate key value violates unique constraint "ind_admin"`` is what issue #11 deals with. Please continue there. Merci.

[2017-12-15 04:19] ikedas commented on #7
Problem has no longer been reported. Issue is closed.

[2017-12-15 04:19] #7 closed

[2017-12-15 14:25] eurecomphil opened #142 "Notify owner's list when a non-member sends on a mailing list"
Dear all,

Is it possible to **notify the owner** of a "restricted to members" mailing list **when** a **"non-member" person send an email** to the mailing list ?

Thanks a lot in advance for your answer.
Philippe

[2017-12-15 21:30] agouaux commented on #11
can someone please explain the intent of this logic:

[code]

I added more logging statements, and it seems like this may not be doing quite what folks are intending....

[code]

[2017-12-16 07:06] ikedas commented on #122
Hi @l4uc3,
  * By your modification ``<form>`` elements are nested. Standards says this element should be "[with no form element descendants](https://www.w3.org/TR/2017/REC-html52-20171214/sec-forms.html#the-form-element)".
  * On 6.1.x, it was sometimes reported that, with a form including a table having many (20, 30 or so) rows, some of checkboxes were omitted, and not all selected messages were

[2017-12-16 12:07] popindavibe opened #143 "LDAP default settings for verify"
Hi all,
I spent a quite some time changing my filters after upgrade to Sympa 6.2

In the end I figured out thanks to sympa logs that the issue came from the `ca_verify`  option which was marked as required/ optional and which **does not** allow you to specify where your CA actually is.
So all my testing locally was fine because of my CA being set up in /etc/ldap/ldap.conf, and my authentication wa

[2017-12-16 19:18] l4uc3 commented on #122
Hello,

On 16/12/2017 08:06, IKEDA Soji wrote:

I was careful not to put a form inside a form. Could you point me inside
the code where you see a nested element ?

I didn't know. I will test and think of a solution if I see a problem.
Was it reproducible ?

[2017-12-16 19:23] agouaux commented on #11
This seems to work better for updating the inclusion table.  Though, not sure what triggers the DELETE to occur....

[code]

[2017-12-18 04:11] ikedas commented on #122
@l4uc3,

the code where you see a nested element ?

I misunderstood. Indeed `<form>` are not nested.

But I still concerned: `form` attribute of `<fieldset>` element is widely supported? (several contemporary UAs [support it](https://caniuse.com/#feat=form-attribute), but some UAs not fully HTML5-compliant may not).

I personally could not reproduce, but more than one persons complained it.

[2017-12-18 09:52] ikedas commented on #53
How about use of [log4perl](https://metacpan.org/pod/Log::Log4perl) or similar packages?

[2017-12-19 16:18] eurecomphil commented on #142
Resolved. The mailing list has to be set as "PRIVATE" and not "CONFIDENTIAL".

[2017-12-19 16:18] #142 closed

[2017-12-19 19:00] agouaux commented on #11
well, the business of getting the error popup and the error in the logs is definitely because of the cache.  If I make this simple change:

[code]

The error popup no longer appears when adding an address as both owner and editor with one 'Update'.  (Also no error in the logs.)

I see that `$self->_cache_publish_expiry('admin_user');` is used.  However, when adding an address to both editor and ad

[2017-12-20 08:44] agouaux commented on #11
[my-sympa-hacks.txt](https://github.com/sympa-community/sympa/files/1574750/my-sympa-hacks.txt)

Well, this patch seems to be working.  So far all the above mentioned errors are not present.

It contains the code for _update_inclusion_table mentioned previously.  It also does a force load into the admin cache when an owner or editor is added, removed, or updated.

[2017-12-20 10:05] SansPseudoFix opened #144 "Privileged owner should be ale to add another privileged owner"
Hi,
right now, sympa doesn't allow this, as mentioned [here:](https://www.sympa.org/manual_6.2/list-creation#list_editing)

Is there any plan to do it? As listmaster can do it, why not privileged owners?

BTW: thanks for your software :)

[2017-12-20 10:43] ikedas commented on #11
Does [this feature](https://metacpan.org/pod/release/CAPTTOFU/DBD-mysql-4.008/lib/DBD/mysql.pm#mysql_client_found_rows) affect?

[2017-12-20 10:44] ikedas commented on #144
@SansPseudoFix, what version of Sympa you are using?

[2017-12-20 10:48] ikedas commented on #143
looks like a duplicate of the bug (hopefully) fixed by #116.

[2017-12-20 11:11] SansPseudoFix commented on #144
Oh, yep, sorry: 6.2.16.

[2017-12-20 11:12] ikedas commented on #78
Ok, closed by now.

[2017-12-20 11:12] #78 closed

[2017-12-20 11:14] agouaux commented on #11
I don’t see how it would be at all related.  I didn’t change any of the actual SQL.

[2017-12-20 11:16] ikedas commented on #144
And if you customized `edit_list.conf`, please show it (at least the part about `owner` parameter).

[2017-12-20 11:26] ikedas commented on #11
Please try with this patch:
[code]

[2017-12-20 11:57] agouaux commented on #11
I will, but I don't think it'll make any difference to what I was seeing.

I put in a ton, and I mean a TON of syslog statements all throughout the code to get a better idea of what was going on.  What I discovered is that when the same address was added as owner and editor at once, the loop that goes through the admins the second time around didn't know the admin had been added to the table.  Tha

[2017-12-20 12:55] ikedas commented on #11
@agouaux, please tell us the version of MySQL and DBD::mysql.

[2017-12-20 14:16] ldidry commented on #144
We (I work with @SansPseudoFix) have this:
[code]

[2017-12-20 14:30] aepli opened #145 "The default_ttl parameter is no longer used in Sympa 6.2.22"
Hello,

The **default_ttl** parameter in the /etc/sympa/sympa.conf configuration file is not used as the default value for the **Inclusion timeout** (ttl) parameter of a list.

The default value of the **ttl** parameter remains at **3600** seconds.

Comparing between 6.1.17 and 6.2.22, I noticed that the definition of the ttl parameter has changed.

With the 6.1.17 in the List.pm library, we had:

[2017-12-20 14:35] ikedas commented on #144
Can you try this?
[code]

[2017-12-20 18:40] agouaux commented on #11
MySQL: 5.7.17 Generic (not rpm)
DBD::mysql              DBD-mysql               OK (4.043  >= 4.008)

I'll apply the patch to the clean source, increase the logging, then go through the steps to see what happens.

[2017-12-20 23:38] agouaux commented on #11
Applied your patch, and I get the exact same error I was getting before when attempting to add an address to both owner and editor at same time, as others have reported.

As it stands, the caching of user_admin is seriously broken, and will take a fairly significant logic change to correct it.

[2017-12-21 00:41] ikedas commented on #11
@agouaux, I want to confirm: Are you trying to add _the same_ e-mail to both owner and editor?

[2017-12-21 01:33] agouaux commented on #11
Yes.

[2017-12-21 02:57] ikedas commented on #11
After applying patch, did you restarted sympa services and web server?

[2017-12-21 03:01] agouaux commented on #11
Yup.

[2017-12-21 03:44] ikedas commented on #11
Ok, there seems no problem related to `inclusion_table` you asked above.

[2017-12-21 03:46] agouaux commented on #11
my logs are full of error messages that would seem to disagree.  The logic is doing an insert immediately after an update, which doesn’t make sense.

[2017-12-21 04:06] ikedas commented on #11
In previous post I said there seems no problem _only_ on `inclusion_table`. So we can start tackling the problem related to `admin_table`.

This issue is included in the milestone [6.2.26](https://github.com/sympa-community/sympa/milestone/4).  It means that we will try to solve this problem until due date, 20 Mar. Proposal for fixes and suggestions are appreciated.

[2017-12-21 04:15] agouaux commented on #11
Well, that's because my code change for the inclusion table fixed that problem.  This is the prod server (6.2.18):

[code]
Remember I said I put in a TON of syslog statements.  Well, in diagnosing the inclusion_table, this is what I saw:

[code]
The existing code is doing an INSERT regardless of the outcome of the UPDATE.  So, I just nested the INSERT so that it would depend on the outcome of the

[2017-12-21 04:34] agouaux commented on #11
[sympa-err-dec-19-1.txt](https://github.com/sympa-community/sympa/files/1577925/sympa-err-dec-19-1.txt)  I don't know if this will be at all useful, but just in case I'm added the output of my massively copious logging to try to figure out what was going on with user_admin table.  This is what led me to the logic I came up with in the diff I included previously....

[2017-12-21 04:42] ikedas commented on #11
No. [Existing code](#issuecomment-352116693) intends to do INSERT when no rows are UPDATEd nor matched ([my patch](issuecomment-353038450) tried to confirm this behavior with MySQL). However, I look [your change](#issuecomment-352205376) will never do INSERT.

[2017-12-21 10:18] SukramD opened #146 "Color customization for top-bar-section active item"
Hi,

I had the problem that I was unable to customize the color of the active element in the top bar with the normal configuration tools:
![sympa_layout](https://user-images.githubusercontent.com/34739219/34251432-5c050390-e640-11e7-9e39-0d69284a897f.png)
Basically, the blue item should have been orange like it is on the submenu.
To solve this I had to change the following entry in the foundation.

[2017-12-21 13:27] aepli commented on #146
hello,

This problem has been fixed since version [6.2.23b.1](https://github.com/sympa-community/sympa/releases/tag/6.2.23b.1).
If you want with your 6.2.22, you can customizeyour css.tt2 template with this hotfix:

Regards.

[2017-12-21 14:15] racke commented on #146
And 6.2.24 is already available. Thanks for the hint, @aepli

[2017-12-21 14:15] #146 closed

[2017-12-21 17:17] agouaux commented on #11
Hi.  Thank you for releasing 6.2.24.  I know y'all work hard on this software!

So, I installed 6.2.24 on test system, then added the line

[code]
to the MySQL driver at bin/Sympa/DatabaseDriver/MySQL.pm.  When I go to add an sympa list as owners, I get the following error:

[code]

[2017-12-21 21:24] agouaux commented on #11
I think the logic for _update_inclusion_table is not the reason for the above error, which you've been patiently trying to tell me.  I put syslog statements at the beginning of that routine, and when I go and add an owner_include in the web GUI, I notice it is calling that routine twice!  The first time the inclusion table is correctly updated, the second time throws the error.  Though, even that

[2017-12-22 03:44] ikedas commented on #11
In current code:
[code]
This intends to perform "do UPDATE, then if there is no row to update, do INSERT".  Because documentation on DBI [says](https://metacpan.org/pod/DBI#rows):
[code]
(Since [your change](#issuecomment-352205376) removes the first "`and $sth->rows`", insert will never occur even if zero rows are updated, i.e. no row was found.)

However, DBD::mysql [says](https://metacpan.org/p

[2017-12-22 04:01] ikedas commented on #145
Hi @aepli,

I found these `default_*` parameters has been unused in trunk before 6.2alpha. There seem no reason.  if it is useful, I feel `ttl` may be restored.

[2017-12-22 14:33] xavierba opened #147 "create_db.Sybase still useful ?"
Several create_db.* files were removed in a recent commit: https://github.com/sympa-community/sympa/commit/17e865cee0c3e454425185b31193b087cb4ef548
The only one left is create_db.Sybase which has not changed for 2 years. Does this file need to be removed too ?

[2017-12-22 16:03] xavierba opened #148 "$localstatedir/sympa/static_content/css directory not created at install time"
As in subject, the $localstatedir/sympa/static_content/css is not created at install time and gets created only at run time. Probably pure nitpicking...

[2017-12-22 18:02] xavierba commented on #53
log4perl with Log::Dispatch should allow for a lot of flexibility.

[2017-12-23 09:01] ikedas commented on #148
What you pointed out is right. Currently CSS are generated without operation by user (previously it was generated by explicit operation) and css/ directory must always exist.

[2017-12-23 09:11] ikedas commented on #147
create_db.Sybase is kept because Sybase driver (Sympa::DatabaseDriver::Sybase) lacks feature of automatic database creation the other drivers have.  In fact content of this file needs update.

Or, Sybase support would be dropped (I prefer to this option).

[2017-12-23 10:03] ikedas commented on #24
Stagnated issue. Closed.

[2017-12-23 17:29] eiro commented on #24
RAM consumption is still too damn high. and this should be adressed some day

[2017-12-23 18:03] ikedas commented on #24
Marc, can you show the evidence?

2017/12/24 2:29、Marc Chantreux <notifications@github.com>のメール:

[2017-12-24 11:12] ikedas commented on #148
Now STATICDIR/css will be created during installation, and STATICDIR and STATICDIR/js are no longer owned by sympa user.

Closed.

[2017-12-24 11:12] #148 closed

[2017-12-24 12:26] popindavibe commented on #143
I am not sure if this is the same issue. I was mostly underlying the fact that we can specify a CA file and enforce verification in auth.conf while this is not a possibility at all when configuring ldap list filters to be used for mailing lists.

[2017-12-25 04:01] ikedas commented on #143
@popindavibe, can you show the settings both of `auth.conf` and "ldap list filters"?

[2017-12-25 09:44] ikedas commented on #122
PR above seems to be able to avoid problem I pointed out:
  - Use of `<table>` in `<form>`.
  - Separate `<fieldset>` compliant to HTML5.

[2018-01-03 21:07] l4uc3 commented on #122
@ikedas : thanks for your help. I put the new files on our servers.

[2018-01-04 04:01] ikedas commented on #122
Thanks for checking my addition. If no problem is found in a few days, merge commits and close this issue.

[2018-01-04 17:51] agouaux commented on #11
your reasoning seems flawless to me.  Still, I get this error:

[code]

At least this particular error (unlike those for admin_table) does not result in a nasty pop-up to the user, so I suppose this can just be ignored because it doesn't seem to be causing any real problems.  It's just confusing to find in the logs.

[code]

and all required perl modules have been updated.

[code]

The actual db i

[2018-01-04 21:10] agouaux commented on #11
your reasoning seems flawless to me.  Still, I get this error:

[code]

At least this particular error (unlike those for admin_table) does not result in a nasty pop-up to the user, so I suppose this can just be ignored because it doesn't seem to be causing any real problems.  It's just confusing to find in the logs.

[code]

and all required perl modules have been updated.

[code]

The actual db i

[2018-01-04 23:56] agouaux commented on #11
OK, I compiled mysql-5.7.20 (didn't see 5.7.17, but that shouldn't matter), and re-installed the DBD::mysql perl module:

[code]

and I get the exact same error as shown above.  So, no difference between using mysql libs and mariadb libs.  Suspected as much, but figure might as well rule that out as a possibility.

[2018-01-05 02:32] ikedas opened #153 "Adding ARC support"
Current beta: Sympa 6.2.37b.2

### ToDo

- [x] Making changes on Sympa
- [x] Documentation
- [x] Beta testing

### Documentation (draft)

- Sympa Administration Manual: [DKIM and ARC features for Sympa](https://sympa-community.github.io/manual/customize/dkim-arc.html)

### References

Related posts:
  - [\[sympa-developpers\] Adding ARC supprt to Sympa](https://listes.renater.fr/sympa/arcsearch_id

[2018-01-05 02:51] jrlevine commented on #153
General flow:
* as message is received, see if there is an Authentication-Results header. If there is, do ARC validation on incoming message and edit arc=<whatever> result into the A-R header or arc=none if none
* as outgoing message is signed, look for that A-R header again, use the incoming ARC result in ARC signing which can happen at the same time as DKIM signing
* add ARC headers above DKIM h

[2018-01-05 07:50] ikedas opened #154 ""nomail" and "not_me" reception modes would be obsoleted"
Among [reception modes](https://sympa-community.github.io/manual/customize/basics-alterations.html#message-reception-modes), `nomail` and `not_me` are not really the "reception" modes (Especially, `nomail`  can be covered by [suspending subscription](https://sympa-community.github.io/manual/customize/basics-delivery.html#suspended-subscription)).

These options would be better to be provided as se

[2018-01-05 12:36] eiro commented on #154
please stop use github for those kind of stuff! the developper community
is on the mailing list!

thanks in advance

[2018-01-05 13:20] ikedas commented on #154
@eiro, to avoid confusing users, please *don't* assert the fact that has not been got consensus.

The real fact is that: Currently, both mailing lists and github are used for communication among users, administrators and developpers.

If you want to limit communication among people only on mailing list(s), you can freely popose it.
You may of course use the mailing list. If you do it, I'll respond

[2018-01-05 13:26] ikedas commented on #154
As one of administrators of this sympa-community project, I will remove the two comments above which are never related to this issue, in the next week.

[2018-01-05 16:40] agouaux commented on #11
Oh, and just to confirm, I have the following change applied to Sympa, with locally compiled/installed Perl and MySQL.

[code]

The error persists.

[2018-01-06 15:54] pascalmaes opened #155 "Sympa 6.2.24 : Welcome message no more editable"
I have installed a fresh version of sympa 6.2.22 and created a list ti modify the messages templates.
In that version, the Welcome message may be modfiied (see first file attached)

![messages-templates-6 2 22](https://user-images.githubusercontent.com/32573089/34641274-c4ea554a-f301-11e7-92cc-5b146fb73eb1.png)

Next, I update to sympa 6.2.24 and the welcome message is no more editable (see second

[2018-01-06 23:33] ikedas commented on #122
Merged. Thanks again l4uc3.

[2018-01-06 23:33] #122 closed

[2018-01-06 23:38] ikedas commented on #145
There seem significant problem restoring this parameter, and I’ll restore it.

[2018-01-06 23:38] #145 closed

[2018-01-06 23:41] ikedas commented on #144
Hey, does your problem solved?

[2018-01-06 23:46] ikedas commented on #110
@racke, does PR #152 solve the problem?

[2018-01-07 01:11] ikedas commented on #155
On my side it is shown:
![edit_list_templates](https://user-images.githubusercontent.com/5743546/34645504-adbe3170-f392-11e7-89c0-6aa4ec0cf0e1.png)

Can you show us following information?
  - The source of "Edit list templates" page
  - `web_tt2/editfile.tt2` file, if you have customized it.

[2018-01-07 10:01] pascalmaes commented on #155
As I said, I start from a fresh version : an empty folder /var/sympa and I don't make any tuning except for the file /etc/sympa/sympa.conf

# ls -lR /var/sympa/etc
/var/sympa/etc:
total 56
-r--r--r-- 1 root  root   355 Jan  6 16:24 README
-rw-r----- 1 sympa sympa   10 Jan  6 16:25 cookies.history
drwxr-xr-x 2 sympa sympa 4096 Jan  6 16:24 create_list_templates
drwxr-xr-x 2 sympa sympa 4096 Jan  6

[2018-01-07 10:57] ingo-laubenthal opened #156 "privacy protection"
Sorry, I'm not sure, whether this is the right place for this request.
List admin in Germany received the following automatically generated email, which is, as I believe, critical in terms of privacy protection according to German and European law:
=====
"Von: SYMPA [mailto:sympa@list.ecogood.org]
Gesendet: Samstag, 6. Januar 2018 23:38
An: karlsruhe@gemeinwohl-oekonomie.org
Betreff: Zu Ihrer Info

[2018-01-07 11:38] ikedas commented on #155
@pascalmaes, can you compare edit_list.conf between 6.2.22 and 6.2.24?

[2018-01-07 11:48] pascalmaes commented on #155
% cd /var/sympa
% find . -name edit_list.conf
./default/edit_list.conf
%  more etc/data_structure.version
# This file is automatically created by sympa.pl after installation
# Unless you know what you are doing, you should not modify it
6.2.22
% cp default/edit_list.conf /tmp/edit_list-6.2.22.conf
% cd Install/sympa-6.2.24/
% make install
% /var/sympa/bin/sympa.pl --upgrade
notice main:: Sympa 6.2

[2018-01-07 12:00] ikedas commented on #155
sorry I forget to say: If files (editfile.tt2 & edit_list.conf) customized for 6.2.22 are there, please compare them with defaults of 6.2.24.

[2018-01-07 12:47] pascalmaes commented on #155
There are no customization, only the defaults are used.

[2018-01-08 03:43] ikedas commented on #154
About transition from earlier version:
  - Upgrade process have to update `subscriber_table` table as below:
      - update  `suspended_subscriber` field, if `reception_subscriber` is `nomail`.
      - update  new `XXX_subscriber` field, if `reception_subscriber` is `not_me`.
      - and at last, map `nomail` or `not_me` values in `reception_subscriber` field to appropriate value, say, `mail`.
  -

[2018-01-08 10:56] ikedas commented on #155
I have no idea... @pascalmaes, could you show the entire HTML source (not the diff) of the page in question? You may send it to my e-mail if you prefer.

[2018-01-08 16:35] pascalmaes commented on #155
Here is the source

[edit-templates-6.2.24.html.txt](https://github.com/sympa-community/sympa/files/1612286/edit-templates-6.2.24.html.txt)

[2018-01-09 13:17] SansPseudoFix commented on #144
Yes, sorry! It did the trick! Thank you and sorry for the delay.

[2018-01-09 13:17] #144 closed

[2018-01-09 13:32] etienne02 opened #158 "Limit spam when database isn't accessible"
Hi,

When the database is not accessible by sympa, sympa send hundreds of mails per minute, until the problem is solved. Is it possible to change this behaviour ? For instance sending two mails, one when the problem appears and one when the problem is solved.

Thank you.

[2018-01-09 15:51] racke commented on #158
I never got that many emails from Sympa when the database was unaccessible, but still too much emails.

[2018-01-10 14:22] bmarchal54 opened #159 "there is a 'f' missing in a print function"
At the lign 577 of sympa.pl, it writes 'print' with a format.
It must be a printf .

Thanks

[2018-01-10 14:23] eiro opened #160 "sympa daemons to support users with multiple groups"
the problem and the questions related to it was posted on the list (https://listes.renater.fr/sympa/arc/sympa-developpers/2018-01/msg00008.html)

this patch isn't complete does only fix the problem for only one daemon but at least it point it out and provides a way to fix it.

[0001-when-the-sympa-user-is-member-of-more-than-one-group.patch.txt](https://github.com/sympa-community/sympa/files/16190

[2018-01-10 15:30] eiro commented on #160
informations about the way i installed and started sympa (from an up and running debian buster)

$ g clone git@github.com:sympa-community/sympa
$ id
uid=1001(mc) gid=100(users) groups=100(users),27(sudo),105(sympalpha),115(sympa)
$ sudo install -o mc -g sympalpha -d /opt/sympalpha
$ autoreconf -i
$ ./configure \
        --prefix=/opt/sympalpha \
        --with-group=sympalpha \
        --with-user

[2018-01-10 15:44] racke commented on #160
On 01/10/2018 04:30 PM, Marc Chantreux wrote:

Hello Marc,

what was the error message on the startup of the Sympa daemons?

Regards
        Racke

--
Ecommerce and Linux consulting + Perl and web application programming.
Debian and Sympa administration. Provisioning with Ansible.

[2018-01-11 05:33] ikedas commented on #155
Thanks @pascalmaes, I confirmed Sympa omits welcome template (not by such as brower bug).

Seeing reject message, I guess there is problem of file permission. Could you check if:
- wwsympa.fcgi is running with privilege of `sympa` user (in case of Apache, invoked through wwsympa-wrapper.fcgi)?
- template files including `mail_tt2/welcome.tt2` are readable by wwsympa.fcgi (files are owned by `sympa

[2018-01-11 06:44] ikedas commented on #156
Hi @ingo-laubenthal,

I personally think one-time ticket link is the bug in design. Because any people (not the list owners) received the message which contains such link can capture privilege of the owner, reviewing, adding and deleting subscribers. Furthermore, web account of owners themselves may be captured (I don't know if this feature is not compliant to the law).

So I'm planning to remove

[2018-01-11 10:04] thierrytiti opened #162 "Spaces in email subject are deleted when there is accents"
The subject of an email "Bonjour à tous" is tranformed in "[listname] Bonjourà tous"

[2018-01-11 10:08] pascalmaes commented on #155
Hello,

wwwsympa.fcgi is running as sympa:
sympa    14163  8319  0 Jan10 ?        00:00:00 /usr/sbin/apache2 -k start

% ls -l /var/sympa/bin/wwsympa*
-rwsr-sr-x 1 sympa sympa   9480 Jan  7 12:44 /var/sympa/bin/wwsympa-wrapper.fcgi
-rwxr-xr-x 1 root  root  588533 Jan  7 12:44 /var/sympa/bin/wwsympa.fcgi

By default the files are owned by root, I change the owner to sympa but no way

% ls -al /var/

[2018-01-12 01:02] ikedas commented on #155
@pascalmaes, thanks, and ---
  - How about the mode of `/var/sympa/etc/mail_tt2/*.tt2` ?
  - How about the output of following command?
[code]
    or
[code]

[2018-01-12 01:15] ikedas commented on #162
Hi @thierrytiti,

Could you please show us the raw header of message both before and after passing mailing list?
  - To get a message both before and after passing the list, send a message to the list CC'ing yourself.
  - To see raw header, use the function such as "View message source" on your mailer (for this issue, the header especially "Subject" field is needed: message body is not needed).

R

[2018-01-12 01:27] ikedas commented on #11
@agouaux, sorry for delayed response.

Problem you reported could not reproduce on my side. So, can you try some debugging? For example, modifying code to oputput logs by each step:
  - if `$sdm` is defined.
  - if `$sth` (result `of do_prepared_query(q{UPDATE ...})`) is defined.
  - what is value of `$sth->rows`
  - if `$sdm` is defined.
  - if `$sth` (result `of do_prepared_query(q{INSERT ...})`

[2018-01-12 01:42] ikedas commented on #153
@jrlevine, thanks for guidance. Please do provide sample!

[2018-01-12 06:52] pascalmaes commented on #155
As I said, all I do is make ; make install and then create a list ; no customization.
It works fine with 6.2.22 (except the change of owners or editors which is no take into account) and the update to 6.2.24 breaks the edit templates.

% ls -al /var/sympa/etc/{mail_tt2,web_tt2,scenari}
/var/sympa/etc/mail_tt2:
total 8
drwxr-xr-x  2 sympa sympa 4096 Jan  6 16:24 .
drwxr-xr-x 13 sympa sympa 4096 Jan

[2018-01-12 07:03] ikedas commented on #155
Are you using *BSD? Then please run:
[code]
This will show the all wwsympa.fcgi processes.

[2018-01-12 07:35] pascalmaes commented on #155
We are using debian 8.7 and all I see with ps are the apache2 processes

[2018-01-12 07:49] ikedas commented on #155
That's curious. How you run `wwsympa.fcgi` of Sympa 6.2.24? Is there difference from host running 6.2.22? For example: configuration of apache, option given to `./configure` script, ...

[2018-01-12 13:50] thierrytiti commented on #162
Hi,

I tryed with another email client: it's a client bug on partially encoded subjects.
It works correctly with thunderbird.

1/
Original Email has header
Subject: =?utf-8?Q?Bonjour_=C3=A0_tous?=

This is dispayed as "Bonjour à tous"

2/
The email received via Sympa has headers:
Thread-Topic: Bonjour =?utf-8?Q?=C3=A0_tous?=
Subject: [testlistes] Bonjour =?UTF-8?Q?=C3=A0?= tous

This is displayed

[2018-01-12 13:50] #162 closed

[2018-01-13 10:12] pascalmaes commented on #155
Same option for 6.2.24 and 6.2.22 and no differences: it's the same host; all I do it to replace one version with the other by a "make install" and a "sympa.pl --upgrade"

./configure \
--prefix=/var/sympa \
--with-confdir=/etc/sympa \
--with-perl=/usr/bin/perl \
--with-user=sympa \
--with-group=sympa \
--with-postalias=/usr/sbin/postalias \
--with-postmap=/usr/sbin/postmap \

in /etc/apache2/envv

[2018-01-13 10:35] PhilLAL opened #163 "automatic mail unsubscribtion on error on a list"
Hi,
I would like to know if there is an option to automatically unsubscribe a mail address when it is on error.
I have searched into the doc but did not find anything on this topic, but perhaps did I miss this part...
Thanks and happy new year.

edit: we currently have a 6.2 sympa, and we seem to loose some mail adress on some lists since we start up the server after importing from googlelist, so

[2018-01-13 10:39] ikedas commented on #155
@pascalmaes, I feel your configuration is a bit complicating. CGI and FastCGI are not the same thing. Both 6.2.22 and 6.2.24 might not work correctly.

Please try following:
- Confirm that mod_fcgid (`libapache2-mod-fcgid`) has been installed.
- Enable mod_fcgid.  A file `fcgid.conf` with [this content](https://salsa.debian.org/debian/libapache2-mod-fcgid/blob/master/debian/fcgid.conf) may be foun

[2018-01-13 11:57] pascalmaes commented on #155
Hurray !

It works.
Thank you very much.

All I have to do is replace my sympa configuration for apache2 by yours.

[2018-01-13 13:43] ikedas commented on #155
Well done! Thanks for answering to my questions patiently. If you don’t find problem with new configuration, please close this issue.

[2018-01-13 13:44] pascalmaes commented on #155
Thanks again

[2018-01-13 13:44] #155 closed

[2018-01-14 07:10] ikedas commented on #160
On Wed, 10 Jan 2018 07:30:07 -0800
Marc Chantreux <notifications@github.com> wrote:

I couldn't reproduce.

(In below, Sympa was built with default user and group)

1. `sympa` user has primary group `sympa` only:
[code]
2. `sympa` user has a supplemental group:
[code]
3. `sympa` user has the other primary group and supplemental `sympa` group:
[code]

[2018-01-14 08:57] racke commented on #160
Marc, please add the error message from Sympa startup to this issue.

[2018-01-14 16:51] jrlevine commented on #153
[prearc.txt](https://github.com/sympa-community/sympa/files/1629547/prearc.txt)
Here's the prepass I use to add the incoming arc-chain to the Authentication-Results header. I run it on deliver as:
|bin/prearc | bin/queue <listname>

[2018-01-14 16:58] jrlevine commented on #153
Here's a simplified version of my post-pass ARC and DKIM signer. (I used to use mj2 and it was easier to keep using this than to integrate it into Sympa.) You can see how the ARC signature is added in parallel with DKIM signature(s).
[sympamail.txt](https://github.com/sympa-community/sympa/files/1629551/sympamail.txt)

[2018-01-16 14:09] eiro commented on #160
hello racke,

and thanks for helping

as i wanted to be clear, i started from the very begining

g clone sympa:sympa
./sympa
g co sympa-6.2
autoreconf -i
./configure \
	--prefix=/opt/sympalpha \
	--with-group=sympalpha \
	--with-user=mc \
	--without-initdir \
	--without-smrshdir \
	--disable-smtpc \
	--disable-fhs \
	--disable-dependency-tracking \
	--with-confdir=/opt/sympalpha/etc \
	--with-unit

[2018-01-16 14:11] eiro commented on #160
On Sun, Jan 14, 2018 at 07:10:09AM +0000, IKEDA Soji wrote:

happy you :) maybe you should use the same env i have (debian buster).

regards,
marc

[2018-01-16 23:09] ikedas commented on #160
Marc, did you invoke the daemon with superuser (root)? If you didn’t, do:

Regards,

2018/01/16 23:09、Marc Chantreux <notifications@github.com>のメール:

[2018-01-17 02:41] ikedas commented on #163
Hi @PhilLAL,

On List Admin page, go to [Edit list config] - [Bounces] and see the help.

[2018-01-17 08:39] aepli opened #166 "Synchronize members with data source and task manager crash randomly"
Hello,

Updating lists' members randomly fails with the inclusion of members from another local list.

I have noticed this on a list that still uses the **include_list** directive of Sympa 6.1.x and not the new **include_sympa_list** parameter.

On our test environment, we use Dumper on the **%{$include_member}** variable in the **_load_list_members_from_include** function of the **List.pm** modul

[2018-01-17 08:44] PhilLAL commented on #163
thank you !

[2018-01-17 08:44] #163 closed

[2018-01-17 14:31] fl02 opened #167 "Password has to be reset after logging out"
Sympa 6.2.24, one virtual host
Debian 9

Each time I logout of my Sympa instance I can't login again on both domains without requesting a new password. Is that a bug or known issue or could it be a configuration error on my part? Appreciate your thoughts!
Thanks!

[2018-01-17 14:34] dverdin commented on #167
Hi,
You mean that typing the password you previously defined doe not work?

[2018-01-17 14:52] crumblingwalls commented on #167
Yes exactly: I set a password, login, logout, try to login again and get the error: »ERROR () - Provided password is incorrect«. When I request and set a new password, it works again.

[2018-01-17 14:54] dverdin commented on #167
I think your password doesn't work at all. When requesting a password, you use an authentication URL . So you have a session when redefining a password and that's the session you're using until logging out.
Do you have any logs related to this problem?

[2018-01-17 15:07] crumblingwalls commented on #167
sympa.log:

Jan 17 15:26:40 mail wwsympa[30671]: notice main:: (example.com) [robot lists.example2.com] [client 192.168.0.1] Does NOT match HTTP_HOST; setting cookie_domain to lists.example2.com
Jan 17 15:26:40 mail wwsympa[30671]: info main::do_home() [robot lists.example2.com] [session 35059202178636] [client 192.168.0.1]
Jan 17 15:26:40 mail wwsympa[30671]: info main::do_home() [robot lists.exa

[2018-01-19 07:05] ikedas commented on #166
Hi @aepli,
I can't understand what the code you showed is doing, too.  Can you apply [this patch](https://github.com/ikedas/sympa/commit/25f0539.patch) and see if the problem is solved? If this change is promising, I'll submit PR later.

(Also, I possible, please check the case with multiple include_* paragraphs).

[2018-01-19 08:44] aepli commented on #166
Hello @ikedas ,

I tested with one, two and three lists and the problem has not reappeared.
It seems corrected.

Thanks.

Greetings.

[2018-01-19 16:41] agouaux commented on #11
Sorry, @ikedas, I didn't see your follow-up!

Yes, I started doing that on my own, and the results are even more confusing!  However, since that's going to take more time to analyze, and since this does not interfere with the user experience, I shifted gears to the _get_admins error I also reported in this thread.

(As a refresher, when the same address is added via WWW to both owner and editor, t

[2018-01-19 21:44] zzottel opened #168 "Require click to send email on auto_signoff"
On a newly created list, one member was on a corporate outlook.com account.

It seems that at least with certain settings turned on, Microsoft visits every link present in emails sent to an email account (probably for protection against malicious links, and I guess they like building profiles about their users this way, too).

So, as in the message footer, there's a link to auto_signoff in my list

[2018-01-20 06:07] ikedas commented on #168
Hi @zzottel,

Recent version of Sympa requests confirmation when the user visits auto_signoff link.  What version of Sympa are you using?

[2018-01-20 08:34] ikedas commented on #11
Hi @agouaux,

I'm ok,

I understand that you adds `force` option to ignore on-memory cache so that `get_admins()` will get up-to-date information from database. At first I thought in the same way.  However, I rethought and added `_cache_*()` functions.

Using `force` option is the same as reading information from database everytime.  This method gives most certain synchronization (and code might b

[2018-01-20 11:55] 1resu commented on #11
Hi,

I encounter the same error - what I did:

- create a new list
- add a new editor to the list
- the GUI shows me an error message like https://github.com/sympa-community/sympa/issues/11#issuecomment-314139714
- This is the output of sympa.log:
[code]
I looked at the admin_table in the database - there's an entry for the newly created editor but the _profile_admin_ row didn't have the value _pr

[2018-01-20 17:41] agouaux commented on #11
That sounds like a lot of work.  ;-)

Though, when I was looking at the _cache_get routine:

[code]

One thing that concerned me is that it relies on the filesystem mtime, which is not going to be terribly granular.  When a user is interacting with WWW on a reasonably fast machine (really anything today), it seems like it would be fairly easy for them to see stale data because not enough seconds h

[2018-01-21 01:30] ikedas commented on #166
@aepli, thanks for testing. It also seems working well on my side.

If you are ok, please close this issue.

[2018-01-22 09:14] zzottel commented on #168
Ah, that could be. Debian is currently on 6.2.16. Maybe I could switch to testing or unstable. Do you know in wich version that was changed?

[2018-01-22 09:32] #166 closed

[2018-01-22 10:09] zzottel commented on #168
Found it, seem to have benn 6.2.19b.1. Thanks for the info! :-)

[2018-01-22 10:09] #168 closed

[2018-01-24 03:20] ikedas commented on #160
Marc, could you please tell us how did you invoke the daemon?

[2018-01-24 04:17] ikedas opened #170 "WWSympa: Switch to Foundation 6"
Currently web interface uses [Foundation 5.5.3](https://foundation.zurb.com/sites/docs/v/5.5.3/).

Foundation 5 is slightly older and not expected further maintenance.  Foundation for Site 6 would be better.  So I propose replacing Foundation bundled in Sympa source with Foundation 6.
  - [Foundation 6.4.x](https://foundation.zurb.com/sites/docs/) would be used.

Replacement would be better to be

[2018-01-24 09:51] xavierba commented on #170
On the same subject, there is also the bundled modernizr. Bundled version is 2.6.2, latest from 2.x branch is 2.8.3. The 2.x branch is unmaintained upstream, which is currently at 3.5.0 (https://modernizr.com/news/modernizr-3-5-0). Let me know if you'd rather want this to be tracked in another issue.
Still on the JS subject, it would be nice to make sure jquery 3 deprecations are addressed and jqu

[2018-01-24 11:40] qosobrin opened #171 "Allow visibility of lists to specific domains"
It would be interesting to allow visibility of lists to certain domains defined by the list owner. It would be useful in cases like mine. I work for a university and we use a domain for our mailing lists, lets say lists.university.org, and a two different domains for our users accounts, students.university.org and staff.university.org
Since there are not users in the lists.university.org domain, I

[2018-01-24 11:40] ikedas commented on #170
@xavierba, I have no objection to deal with other JS stuff. Because Foundation more or less depends on them (e.g. removal of jquery-migrate would be done).

[2018-01-24 12:58] sivertkh commented on #171
Hi,
Not per owner, but you can add other domains to the scenario file or create a custom one.

`match([sender],/university\.org$/)                          smtp,dkim,smime,md5    -> do_it
`
More on the scenarios and syntax:
https://www.sympa.org/manual/authorization-scenarios

[2018-01-24 15:05] racke commented on #170
Sounds good to me :-)

[2018-01-25 16:15] xavierba opened #172 "Location of static_content and css directories"
Hi,

My understanding is the static_content name comes from the fact that it is statically served by the http server, while the remaining is served by cgi.
Most of what is installed in static_content directory is indeed data that does not change (fonts, javascripts) and thus can be installed readonly and owned by root user. This seems to fit well to $datadir$.
The only exception is the css subdire

[2018-01-25 17:26] m-ueberall opened #173 "Feature request: provide more information for subscription requests via email"
For lists which require a moderator to authorise subscription requests, it would be helpful if the respective notification email already contained the name/mail address of the requester (for further reference), preferably in the subject line.

Also, in case there are multiple moderators, it would be great if both authorised/denied requests always generated a "FYI" notification mail – both for furt

[2018-01-26 03:44] ikedas commented on #11
I understand. And I got that tweaking `_cache_*()`, `get_admins()` or `is_admin()` is not good idea. Because:
Cache mechanism is provided to prevent frequent access to database. For example, these functions are called by scenarios everytime when it contains `is_owner` or `is_editor` condition. If cache was not available, evaluation of scenarios such as viewing list of lists would cause performance

[2018-01-26 13:11] qosobrin commented on #171
Okay, that's a good workaround for the problem than I'm proposing, but it has some issues. If you create a new scenario, it will be available to be selected for all the lists in the same sympa robot (if you create it at robot level). The listmaster (or even the system admin) will have to create a new scenario for any new combination of domains that you want your list to be visible from.

My soluti

[2018-01-27 09:07] ikedas commented on #24
No updates. Closed.

[2018-01-27 09:07] #24 closed

[2018-01-28 15:05] agouaux commented on #11
What version is this against?  6.2.24, or a branch thereof?

[2018-01-29 01:03] ikedas commented on #11
@agouaux , it's against head of sympa-6.2 branch, but may be applicable to 6.2.24.

[2018-01-29 02:29] ikedas commented on #160
Sympa's daemons can be invoked in either of following two manners.

- Daemons of Sympa typically are changed user/group to an unprivileged user. By this reason, in many cases they are invoked by root, and several binary distributions disable login shell of this user to ensure restriction of privilege.
- To apply similar restriction, daemons also may be directly invoked by an unprivileged user. How

[2018-01-29 13:41] agouaux commented on #11
@ikedas , only one hunk of the three are successfully applied to 6.2.24.  I don't mind trying this 6.2 branch on our dev box.  What's the procedure for deploying from GIT?

[2018-01-29 14:08] ikedas commented on #11
On my side it could applied to 6.2.24.

Anyway, please see [the documentation](https://sympa-community.github.io/manual/install/install-sympa-distribution-source.html) to build with 6.2nranch (see descriptions about development version).  Thanks.

[2018-01-29 16:52] racke opened #174 "Message preview doesn't respect anonymous sender"
Preview in Sympa UI moderation shows the real sender and not the email address in `anonymous_sender`.

As the preview naturally should display a message as close as it is possible to the email that the subscriber receives, this is a bug and definitely confusing for the user.

It forced even me to doublecheck the configuration setting ...

[2018-01-29 22:40] agouaux commented on #11
Well, I just seem to find ways to be contrary!  ;-)  It's truly not my intention.

[code]

ok, so trying this..

[code]

[2018-01-29 23:56] agouaux commented on #11
Well, looks like a configure script was created nonetheless, so I proceeded with the install.  This is what I did:

[code]

(/deploy/www is where Apache looks for the fcgi scripts.)

Sadly, when I try to add the same address for both owner and editor, then click Update, I still get the error pop-up in the screen, and this is logged.

[code]

[2018-01-30 03:22] ikedas commented on #174
Hi @racke,

As I think moderator (if the list is moderated) should be able to know real sender of a message, I see the behavior you reported is not necessarily the bug.

I agree it is a bit unintuitive.

[2018-01-30 03:53] ikedas commented on #171
I suppose there are some options:
  1. Preparing custom scenarios by each case:

     If there are three subdomains, say `student.`, `teacher.` and `staff.`, required scenarios are five (I guess the case "student and staff only" is not required). This requires no changes of Sympa, is easy to implement for listmasters and is not so complicating to configure for owners.

  2. Making scenario sources

[2018-01-30 07:51] ikedas commented on #11
@agouaux, can you show the content of `admin_table` before and after addition? Querying MySQL:
[code]

[2018-01-30 10:48] qosobrin opened #175 "Both send.confidential and send.private scenari files use the same gettext text"
The title is self explanatory. This error translates into users having, in the dropdown menu, two entries that are equal, so they can not differenciate which is the one they want to pick.

[2018-01-30 13:58] racke commented on #174
The preview is still buggy IMHO, as what you see is *not* what you get.  I suggest that we add the real sender above  the preview as additional information.

[2018-01-30 20:56] qosobrin commented on #119
I absolutely agree with the removal. In my humble opinion a better solution would be the one I proposed in https://github.com/sympa-community/sympa/issues/171: implement a text box where the owners could add a list of domains from where the list could be added, viewed, etc.

[2018-01-31 00:31] ikedas commented on #159
@bmarchal54, thanks for reporting bug! It was fixed and this issue is closed.

[2018-01-31 00:31] #159 closed

[2018-01-31 05:32] ikedas commented on #170
Hi all,
New branch was created.
  * Please read the "Notice" added in the first comment.

Recently, only Foundation has been updated and rendering is broken.

[2018-01-31 05:43] ikedas commented on #174
@racke, I feel it reasonable.

[2018-01-31 16:37] racke commented on #174
On 01/31/2018 06:43 AM, IKEDA Soji wrote:

Cool :-). I will give it try.

Regards
         Racke

--
Ecommerce and Linux consulting + Perl and web application programming.
Debian and Sympa administration. Provisioning with Ansible.

[2018-01-31 23:35] agouaux commented on #11
[code]

[2018-02-01 02:44] ikedas commented on #11
I missed a change. @agouaux, can you please apply [this additional patch](https://github.com/ikedas/sympa/commit/f77c952.patch) (keeping previous patch applied), and try again?

[2018-02-01 05:19] agouaux commented on #11
OK, I blew away my git pull and did a fresh, new git pull of everything.  I built/deployed sympa, and it now looks as if this particular error is now gone!  :-)

[2018-02-01 09:02] ikedas commented on #11
Really? @agouaux, thanks for testing! If you don't find problem, please use these patches for the time being.

However, I think these would not be better to be included into Sympa.

Because, what I know by trials so far is that, **`owner` and `editor` parameters in list config file are useless**. Their values are often drop behind information in database, and cause spurious errors during updating

[2018-02-01 09:22] ikedas commented on #49
I think this may disappear.

See issue #11. Recently, Sympa refers admin information on database, information in config file is no more than duplicate of it, and actually cause problem.

In the first place, there are no config parameter defining list _member_ information and Sympa gets along well (`user_data_source include2` option has been deprecated long a whle ago). I think owner/editor may be

[2018-02-01 14:37] nzoueidi opened #177 "Unable to import a large file of e-mails to a maillist using wwsympa"
Hello, I am trying to import a file contains a list of 150k emails using the web interface of Sympa. I had an error while doing that (Erreur interne - Impossible de construire les membres de la liste). I chekced the log there is many error entries all almost related to the task manager of sympa. I tried to pgrep the task manager process but it seems that there is one process.

Sympa version : 6.1.

[2018-02-01 14:40] nzoueidi opened #178 "Issues with sending mails using special French characters"
Hello, I have encountered problems related to sending mails using wwsympa.
I am using the FR UTF8 encoding. The problems are below:

  - When sending a mail that does not contain an FR special characters (e.g: é,è), the body of the mail will be gone.
  - When the body of the message contains only one image, the end and footer texts are not displayed. Besides, there is a difference of style fonts b

[2018-02-01 16:38] agouaux commented on #49
Question: if having admins in both the config file and db is such a problem, then why did the problems in #11 only occur after upgrading Sympa to 6.2.18?  We have been using Sympa for many years, and the problems in #11 are only recent.  I believe they coincided with the implementation of the cache.

Though, not saying having admins only in db is necessarily a bad thing.  It will certainly reduce

[2018-02-01 16:45] agouaux commented on #49
I can say that while debugging the interactions of adding an owner and editor at the same time (#11), the problem with this approach is that the file stat isn't fast enough when using the Web UI.  That is, the results from stat are not granular enough, and the caching exasperated the problem.  Perhaps separating list owners and editors to have separate stat files might mitigate that, but then stat

[2018-02-01 16:51] racke commented on #49
Yes, these problems coincided with the cache implementation, which was really wretched. It makes sense to cache things for *display*, but not for the administration (where you *change* data). Also way to deeply ingrained into the code.

Also it not exactly easy to deal with two places which can cause changes - but if you want to do that better use Linux features like notify on file changes rather

[2018-02-01 16:55] racke commented on #178
On 02/01/2018 03:40 PM, Naeil ZOUEIDI wrote:

Hello Naeîl,

please give us more details on your problem:

* where did you configure the "FR UTF8" encoding? is that a system setting?
* how did you send the email - from your email client or from the web interface?

Regards
          Racke

--
Ecommerce and Linux consulting + Perl and web application programming.
Debian and Sympa administration. Prov

[2018-02-02 01:29] ikedas commented on #177
Hi Naeîl,

How did you import a file? Please tell us the detaild operation you took.

[2018-02-02 01:37] ikedas commented on #172
Hi Xavier,
I feel it making sense.  Currently, default value of `css_path` parameter is derived from `static_content_path` parameter (it's STATICDIR by default). The former would have the default location of its own.

[2018-02-02 09:55] dverdin commented on #153
I strongly agree with this proposal. ARC's design is especially well suited for mziling lists. That would be a good hope for mailing lists to go through DMARc agressive policies.
However, I feel we will need some servers reputation listings to make it work. Is there something planned by some consortium somewhere?
@jrlevine : did you hear about such a reputation list? I think this could be useful.

[2018-02-02 10:37] qosobrin opened #179 "Edit List Config menu items appear ordered by scenario name instead of by gettext description"
When trying to define the properties of a list in "Edit List Config" you have to face many drop down menus that have their options ordered by the scenario name instead of by the appropriate gettext description. This makes very odd, if not difficult, to figure out the best option to use.

For example, if you try to set the "send" option in a list you are faced with this list:

closed (closed)
restr

[2018-02-02 10:42] racke commented on #179
Yes that makes sense to me.

[2018-02-02 13:18] qosobrin commented on #179
I would accompany this change with rewriting the every gettext descriptions for all the scenarios, to make them consistent in nomenclature and capital/lower case use.

Not to mention the overwhelming number of scenarios created for some configuration options. For example, there are 23 different scenarios for the "send" option. I would take a "simpler is better" approach, leaving the most basic of

[2018-02-02 13:25] racke commented on #179
Yes, I definitely agree with make the descriptions consistent.

Simpler options is a good idea too, we could accompany it with a tool in the Web UI to click additionals ones together based on the standard ones :-).

[2018-02-02 14:52] xavierba commented on #172
There is likely a similar issue with the pictures directory, which is located within staticdir too (and is also not created, like the css dir that got fixed with 85a6217e2657bfffdb884179d0feaed78c8b53e6)

[2018-02-02 16:49] xavierba opened #180 "Hardcoded max picture size in picture_upload.tt2"
Subscriber's max picture size defaults to 100 Kb, but can be changed with the pictures_max_size option. However, picture_upload.tt2 hardcodes the 100 Kb value.
https://github.com/sympa-community/sympa/blob/091ebf5b3949e834d30644f815932f76eb23c103/default/web_tt2/picture_upload.tt2#L9

[2018-02-02 19:28] ntmlod opened #181 "HTML signature with Unicode characters generates 'rejected_authorization' error"
Hello Sympa devs,

I have coded a HTML signature for my moderator email address with some Unicode characters, it looks like this:

[code]

I have checked it with different browsers and email clients, it seemed to be OK.
On my following attempt to send a message to the mailing list, I was rejected by Sympa. In the logs view (just the owner of the list, not a listmaster), I had a 'rejected_authoriza

[2018-02-02 21:55] qosobrin opened #182 "Feature request: It would be nice to allow custom translation of strings per robot"
It would be nice if we could define custom translations of strings per robot, as we can do for scenarios.  If a gettext entry were available in the custom translation for a given language it would be used preferred to the general entry.

It would be very useful to allow customization of sites, since it would allow us to change strings that are already translated but do not fit for a given robot. I

[2018-02-03 09:52] qosobrin opened #183 "Feature request: add a description field to scenarios"
It came to my attention that drop-down menu entries for scenarios tend to be too long. This is due to the fact that the only field with information that is displayed to the owner is the title. I would recommend to add a new field in the scenario file with description. The descriptions of all the scenarios in a drop-down menu could be displayed below. This would allow us to define shorter entry tit

[2018-02-03 12:26] xavierba opened #184 "User's picture is defined per list, not per robot"
While playing with the user's picture feature, I noticed an user's picture is defined per list, while I would have expected it to be defined per robot. Why such choice ?

[2018-02-03 18:57] qosobrin opened #185 "Feature request: A new action for send on moderated lists is needed to enforce authentication"
All available actions for send scenarios are related either to authentication or moderation, but there is no way to enforce authentication and moderation at the same time. I'll explain with an example.

Let's suppose I want a private moderated list where messages from subscribers have to be moderated. I would create something like this:

[code]

Let's see what happens with is_subscriber lines. Whe

[2018-02-04 09:54] ikedas commented on #179
Order of options for most of parameters are hardcoded in Sympa::ListDef module (e.g. options of `verp_rate` are ordered sanely). "Most of" means that currently this feature isn't applied to scenario names, but I suppose it is possible.

This (hardcoded order) is not the simplest way. However it is not affected by language context (e.g. in japanese or korean, words corresponding to "moderated" and

[2018-02-04 10:25] ikedas commented on #185
Hi @qosobrin,

I read [documentation of authentication methods](https://github.com/sympa-community/sympa-community.github.io/blob/master/manual/customize/basics-scenarios.md#authentication-methods).
  - If a user has successfully logged in to web interface, they have been authenticated. Thus they have `md5` level.
  - If a user sends message by mail client, they have not been authenticated. Thus t

[2018-02-04 17:52] qosobrin commented on #185
I don't your get your point. I understand authentication mechanisms, but sympa lacks a way to enforce authentication and moderate send from smtp at the same time. If you use:

[code]
and a subscriber sends an plain smtp email (without dkim or smime) to the list, a request is sent to the editor, who can approve or deny message delivery.  Any smtp message sent to this list, whether they come from a

[2018-02-05 01:41] ikedas commented on #185
Is it right? Why I ask is that those two lines are the same as lines included in `send.privatekeyandeditorkeyonly` scenario file, a "moderated" scenario.

[2018-02-05 12:15] qosobrin commented on #185
No, you are right. I have just tested the scenario and it worked as expected. Shame on me.

[code]

In this scenario when a subscriber sends a plain smtp message (no smime) to the list, an authentication message is sent back to him/her. Once he/she confirms the authenticity of the original post the editor receives it to be moderated.

Sorry for the inconvenience.

Regards.

[2018-02-05 12:15] #185 closed

[2018-02-05 13:17] ntmlod commented on #181
@ikedas I was probably not clear with my initial statement. Just want to say that I have the right permissions to post to the list. With my HTML signature, the message didn't pass contrary to the same message with a plain text signature.

@racke Sympa 6.2.16

[2018-02-05 16:15] xavierba opened #190 "Change bundled Raleway font from TTF to OTF"
Hi,

While looking at unbundling the Raleway font from Sympa for Fedora/EPEL package, I noticed the bundled version is TTF, while the Fedora provided version is OTF. I filed a bug at Fedora [1] to get the TTF version packaged, but it turned out OTF fonts are preferred over TTF [2] and thus the request was denied. Upstream for Raleway also has dropped support for TTF in later (not yet stable) relea

[2018-02-05 16:17] racke commented on #190
I suppose the browsers are just fine with OTF?

[2018-02-05 18:21] xavierba commented on #190
It works fine for me in Firefox, and my understanding is otf is similar enough to ttf to not induce any issue, but you have a valid point, I'll check with Chromium and try to find others to test with (but won't be able to test on anything IE, Edge or whatever the poor^W windows/mac users are suffering from^W^W^Wusing).

[2018-02-06 02:01] ikedas commented on #190
I think: As browsers supporting only TTF may provide poor support for web fonts, they should be omitted. In short, OTF is sufficient.

[2018-02-06 02:18] ikedas commented on #184
FYI.

Though I don't know why, pictures are defined per list at the time of the first implementation of this feature \[[commit](https://github.com/sympa-community/historic-sympa/commit/ba9a33ab)\].

A reasonable explanation I think out is that, users' display name ("gecos") could be defined per list, and pictures feature followed.

[2018-02-06 02:30] ikedas commented on #181
@ntmlod, I understood you are using web interface to operate list.

Could you please tell us these information?
  1. What is the value of "send" parameter? To confirm this, see the setting of "Who can send messages" item in "Sending" page of "Edit List Config".
  2. Sender (e-mail in "From:" field of message) of message in question is whether ---
       - Listmaster,
       - Owner of the list in

[2018-02-06 03:32] ikedas commented on #158
Hi @etienne02,

At least with recent version, Sympa behaves like you wrote: *sending two mails, one when the problem appears and one when the problem is solved*.  One have subject "No DataBase" and another have "DataBase connection restored".

If you receive these two messages frequently, there can be some problem on connection between Sympa server and database server.  How about consulting admini

[2018-02-06 10:34] xavierba commented on #184
Picture, just like gecos, seems to be user specific, not list specific, and thus should be moved to the robot level, not list level.
Also, while thinking about pictures, it could make sense to be able to get the picture from the authentication source (internal, ldap, sql, etc...).

[2018-02-06 15:16] ntmlod commented on #181
Newsletter, restricted to moderators (newsletter)

Editor (moderator) of the list.
I'm also the owner of the list via another email but I use an email alias which is defined as moderator of the list

No, but I'm not sure if the configuration of the list is set to do so.

[2018-02-07 06:28] ikedas commented on #181
I see. This option will allow posts from moderators, while reject posts from others and will send back a message with content "Message distribution for this list is restricted to list moderators." to the sender.
Didn't you receive such message?

Do you mean that "Moderators" section in "List definition" page of "Edit List Config" contains setting of that "email alias which is defined as moderator"

[2018-02-07 09:00] ikedas commented on #184
Sorry for obscurity.  I meant: Subscribers' display name ("gecos") could be defined per list, and pictures feature followed.

[2018-02-07 09:27] nzoueidi commented on #178
Hello Racke,

The FR UTF8 enconding is on the system setting. Also in the locale environment and I have a LANG variable refers to fr_FR.UTF-8.

Thanks,
Naeîl

[2018-02-07 09:44] qosobrin commented on #190
I would volunteer to do a brief test on Mac OS, iOS and Windows browsers as long somebody could provide me with a testing installation of Sympa using OpenType fonts.

[2018-02-07 09:49] nzoueidi commented on #177
Hello Ikedas,

I imported the file using the web interface.
More precisely, by defining the path of the mail list to import using the web interface.

However, I tried to import the mail list using the script sympa.pl. It works like charm.

PS: when the size of the file to import is lower than ~50k mails or lower it works also..

[2018-02-07 13:37] ntmlod commented on #181
No, absolutely no error message from the list.

Yes, I connect to the web interface with my "listmaster" email to manage the list but I use an email alias when I want to post on the newsletter.

[2018-02-08 04:24] ikedas commented on #181
And that "email alias" address is the same as the address shown in "User Email" column of [log above](#issuecomment-363081633), is it right?

[2018-02-08 09:00] eiro commented on #160
hello Soji and thanks for your replies,

i missed them so i didn't answer. this is correct: i can run sympa as root and it worked as expected. this bug should be closed.

[2018-02-08 09:21] ikedas commented on #160
@eiro, Please feel free to close. I have no objection.

[2018-02-08 10:36] #160 closed

[2018-02-09 18:21] ntmlod commented on #181
Exactly

[2018-02-10 07:10] ikedas commented on #181
@ntmlod, please show us following information:
  - all parameters of Sympa you configured.
  - the content of message you sent (with full header).
  - Related system log (not only logs shown on web interface but also all log entries recorded in system log file).

[2018-02-10 07:17] ikedas commented on #177
Naeîl, how did you "imported the file by defining the path of the mail list to import using the web interface"? Please tell us the operation by each step (setting xxx to xxx, clicking xxx, ...).

[2018-02-10 09:09] ikedas commented on #190
The fix by xavierba will be iconluded in the next beta, 6.2.25b.1.

[2018-02-11 03:41] #180 closed

[2018-02-11 10:49] qosobrin opened #192 "Question: How can I alert you about English strings errors or typos?"
I am privately translating sympa (I will send it to the community later) and I have discovered some errors, typos and mistakes in the original English strings. I understand that opening a new issue for every one of them would be somewhat cumbersome, both for me and the community, but I have no problem doing so.

I could also do it myself (fork the original branch, edit and request the pull) but th

[2018-02-11 11:31] ikedas commented on #192
@qosobrin, see #115.

[2018-02-11 11:39] qosobrin commented on #192
All right, thank you.

[2018-02-11 11:39] #192 closed

[2018-02-11 11:45] qosobrin commented on #115
#: src/lib/Sympa/ConfDef.pm:449
msgid "The number of seconds a bulk worker will remain running without processing a message before it spontaneously exists."

should be

msgid "The number of seconds a bulk worker will remain running without processing a message before it spontaneously exits."

or even

msgid "The number of seconds a bulk worker will remain running without processing a message befor

[2018-02-11 11:51] qosobrin commented on #115
#: src/lib/Sympa/ConfDef.pm:437
msgid "The minimum number of packets before bulk daemon forks the new worker to increase sending rate."

should be

msgid "The minimum number of packets before bulk daemon forks a new worker to increase sending rate."

[2018-02-11 11:54] ikedas commented on #115
@qosobrin, thanks for reporting typo.

If possible, please add your fix to english catalog:
  - On [English page of translation site](https://translate.sympa.org/en_US/), add correct string as a "translation" of incorrect msgid.

Your change on the site above will be reflected to source distribution in the future release.

[2018-02-11 19:40] agouaux commented on #11
Well, I think I finally figured out the DUPLICATE errors I was getting during attempts to update admin_table.

These errors were occurring for lists that included other lists for either the owner and editor.  On these other lists, in the example below, "etech", there were some members with addresses in mixed case:

``
Feb 11 12:22:31 aispsympa01 task_manager[58589]: debug2 Sympa::List::sync_includ

[2018-02-11 20:33] qosobrin commented on #115
Done. I could only "Suggest" my commits in the translation site; it didn't allow me to "Send"

[2018-02-11 20:35] qosobrin commented on #115
By the way, what do you prefer me to do with next strings? Should I publish them here and commit the "translation" later? Or should I commit the translation directly?

[2018-02-12 00:14] agouaux commented on #11
Actually, the case thing also appears to be an issue when you include the members of one list (a) to the members of another list (b).  So, if First.Last@xxx.org is a member of (a), and list (b) includes the members of list (a), then there will be errors like so:

``
main::execute#808 > main::cmd_process#878 > main::sync_include#2063 > Sympa::List::sync_include#6844 > Sympa::List::add_list_member#3

[2018-02-12 14:29] etienne02 commented on #158
My sympa version was the debian jessie version. Since i updated to the debian stretch version, it is probably fixed now. Thanks, i close the issue.

[2018-02-12 14:29] #158 closed

[2018-02-12 18:37] qosobrin commented on #115
I have a doubt about this string:

#: src/lib/Sympa/ConfDef.pm:694
msgid "Remove subscribers bouncing remind message"

Shouldn't it be "Remove bouncing subscribers remind message"? I read the source and I can not understand the context it is being used.

[2018-02-13 05:10] ikedas commented on #32
Let's continue on the new project: https://github.com/sympa-community/sympa-community.github.io/pull/2

This issue is closed.

[2018-02-13 05:10] #32 closed

[2018-02-13 05:53] ikedas commented on #115
Please do how you feel reliable. Eventually, only committed translations will be adopted.

More exactly, it means "If a subscription reminder (a message sent by `remind` operation) bound for an address of a subscriber bounces, remove that subscriber".

[2018-02-13 15:35] racke commented on #115
Maybe "Remove subscribers with bounces on reminders." ?

The original text is indeed utterly confusing.

[2018-02-13 20:02] mdurandGH opened #193 "Rejection message returned when suscribing to a list restricted info access"
Hello,
And first of all my excuses for my poor English, it's such a long time I haven't spoken !
Here is my situation and request : I have created several lists with Framalistes.org using Sympa, all in "author" or "private" mode, which means anyone can subscribe but with my authorization.
I have encountered an issue found when someone is trying to subscribe to one of this list : in fact, he receiv

[2018-02-14 01:59] ikedas commented on #193
Hi @mdurandGH,

What are "author" and "private" modes? Please show us the screen shot of web page where you saw these modes.

[2018-02-14 14:50] FrancoisSauterey opened #194 "gecos in all subscription action"
I'm woory :
When we add multiple subscribers, we can add gecos.
But if we add one, we can't nor if we proceed to a sql include (some thing like
select email,concat(firstname,' ',lastname) from table where list='ok'

Nobody have a patch to do that ?

[2018-02-15 21:32] qosobrin commented on #115
I have a doubt about this string:

#: src/lib/Sympa/ListDef.pm:950
msgid ""
"Each bouncing user have a score (from 0 to 100).\n"
"This parameter defines a lower limit for each category of bouncing users.For example, level 1 begins from 45 to level_2_treshold."

Is it correct the name of the variable it is referenced at the end of the string (level_2_treshold)? Should it be level_2_threshold instea

[2018-02-16 01:25] ikedas commented on #115
There are no parameter like `level_2_th`?`reshold`.  It would be `bouncers_level2.rate` or "*‘threshold’ of ‘Management of bouncers, 2nd level’*".  (Former notation uses parameter names visible only by listmasters).

[2018-02-16 01:32] ikedas commented on #194
Hi @FrancoisSauterey,

As far as I know, nobody haven't had.

[2018-02-16 07:20] racke commented on #194
Would be useful to include gecos data via includes.

[2018-02-16 08:40] racke opened #195 "Language test fails"
[code]

[2018-02-16 11:25] ikedas commented on #195
Test data under `t/locale` seem to be broken.  Probably recreating them as
[code]
may fix it.

[2018-02-16 11:49] racke commented on #195
Just needs a simple correction to the command:

`for po in t/locale/*/LC_MESSAGES/*.po; do msgfmt -o ${po%po}mo $po; done
`

After running this, the test passes.

[2018-02-16 13:26] mdurandGH commented on #193
Hi ikedas,
Thanks for interest and sorry cause I made a mistake : it was "auth" and "owner", which are privileges settings (I though they were due to sympa, but maybe only set by framalistes ?), to decide who is allowed to subscribe or not :
"auth" = subscription request confirmed
"owner" = needs owner approval
NB : "private" is a confidentiality setting (who can access to list information, or who

[2018-02-16 18:56] qosobrin opened #198 "Sympa not loading some wwsympa.conf variables after system restart"
I am having some weird problem with both my preproduction and production installations of Sympa. We are running sympa from Jessie's Debian package that happens to be version 6.1.23

Our installation is very straightforward, we have only on robot running in the default location debian places it (/etc/sympa) and we made very little customizations, all of them related to removing some scenarios and m

[2018-02-17 04:36] godzone commented on #6
It has been awhile since I last looked at this but the issue still exists so I thought I had better spend some more time on it.

I am currently running sympa-6.2.22-1.20171002.RHEL6.x86_64 on CentOS 7 with postgresql-libs-9.2.23-1.el7_4.x86_64 on the front end against postgresql96-server-9.6.6-1PGDG.rhel7.x86_64 on the backend DB server.

I have had a cron job that watches until the number of symp

[2018-02-17 05:28] ikedas commented on #195
Probably I am right. racke, can you check if test data includded in the source you checked out are modified?

[2018-02-17 08:01] racke commented on #195
I am working directly from the Git repository and in fact the '*.mo' files are missing there - which is correct so far as dynamically generated files doesn't belong there.

However, neither `make` nor `make check-local` produces these files and thus the test fails.

[2018-02-17 08:51] ikedas commented on #195
I was not so right. In fact, "make check" couldn't generate *.mo files while "make dist" could.

[2018-02-17 10:22] ikedas commented on #198
@qosobrin, though it might not help, I think you would be better to check the recent version of Sympa. The jessie is obsoleted stable of Debian and sympa-6.1 series is previous stable of upstream.

[2018-02-17 12:57] racke commented on #195
Fixed through #199

[2018-02-17 12:57] #195 closed

[2018-02-18 05:19] ikedas opened #201 "Move smtpc to independent repository"
Currrently smtpc (sympa_smtpc) is bundled in source distribution.

It may be required for some environment as an alternative to sendmail utility not supporting some extended feature<sup>[1]</sup>, but such situation is rare.  So I propose moving smtpc to sympa-contribs repo.

[1]  sendmail utility provided by OpenSMTPD is known not supporting envelope ID feature which is required to provide tracki

[2018-02-18 09:32] ikedas commented on #43
PR above will add notice on deprecation during upgrading process.
Milestone is set to 6.2.28 (on June).

[2018-02-18 10:06] ikedas commented on #6
@godzone, can you find out what function (not SQL statement) Sympa was executing when PostgreSQL executed DEALLOCATE? If possible, please show the log of Sympa around that time.

[2018-02-18 11:03] ikedas commented on #193
@mdurandGH,
When "someone is trying to subscribe to one of this list", what operation did that person perform? (For example: she/he sent a message to the address xxx@xxxx; she/he opened the URL xxx then clicked xxx button...) Please describe us the details.

[2018-02-19 09:25] xavierba commented on #201
My understanding is this piece of code might have an usage outside of sympa. Maybe having it as a project on its own would give it more exposure and potential contributors ?

[2018-02-19 11:29] mdurandGH commented on #193
@ikedas
Thanks for your return.

At first the problem occured with the second method : after opening the URL : https://framalistes.org/sympa/subscribe/[name of the list], adding his/her email and clicking "OK", people see this message :
![image](https://user-images.githubusercontent.com/36455785/36374266-0243cd64-156b-11e8-9020-59fb40419457.png)
(means "ACCES DENIED (information) : you are not all

[2018-02-20 03:11] ikedas commented on #201
It makes sense.

Do you mean it would be better to be moved outside of sympa-community? (I can use my personal space or my company's space).

[2018-02-20 04:04] ikedas commented on #193
@mdurandGH, I got it.

After a user successfully subscribed to a list using web, she/he will be redirected to list information page `https://framalistes.org/sympa/info/[name of the list]`.  However, your list has a setting "Who can view list information" to "restricted to subscribers (private)".  If the user has not logged in, Sympa cannot know who is the user, and decides that this user is _not_

[2018-02-20 07:12] racke commented on #193
Sounds like a bug to me too - at least user should be asked to login before viewing the list information.

[2018-02-20 20:26] xavierba commented on #201
Yes, outside of sympa-community. I trust you to find a location where smtpc could live on its own.

[2018-02-20 20:32] xavierba commented on #184
Yes, I understand your previous comment. I still think both gecos and pictures should be defined at robot level. Or at least, one should be able to have a default per robot identity, which could possibly be overrided at list level, but what would be the use case to have them defined per list ?

[2018-02-21 03:03] ikedas commented on #184
We'd be better to continue summarizing issue here (dev list is crowded).

----

Currently user profile (gecos, picture, ...) can be defined by following ways:
  1. "My preferences" page for gecos.
  2. At the time of subscription by user themselves, for gecos.
  3. At the time of addition by owner, for gecos.  (see also issue #194 )
  4. "Subscriber Options" page, for gecos and picture.

In above,

[2018-02-21 03:28] ikedas commented on #201
Okey, I did it: https://github.com/ikedas/smtpc

If no objection, src/smtpc in sympa repo will be removed on the next release (6.2.25b.2).

[2018-02-21 13:12] xavierba commented on #184
I'm unsure about site-wide vs by-robot. Is that different ? I mean, is site-wide the same as main robot ? Or is site-wide above the robot level (including main robot) ? I guess there is something I have not properly understood here yet.

If site-wide is above by-robot which is itself above by-list, then user's profile data should be inherited into the level below. I mean, if an user has its gecos/

[2018-02-21 15:15] racke commented on #184
The global table _user_table_ has a _gecos_user_ entry, thus the gecos info applies to all robots.
We don't have a table for the robots - relationship between robot and lists is kept in the list table.
Can't see right now where the list definitions for image and gecos are kept in the db.

For sure, gecos storage in Sympa database is suboptimal.

[2018-02-22 02:03] ikedas commented on #184
Currently users' pictures are stored in
_`static_content_path`_`/pictures/`_`listname`_`@`_`robot`_`/`_`hash of email`_`.`_`ext`_
then they are by-list.

[2018-02-22 03:31] ikedas opened #206 "Firefox freezes on "Edit robot config" page"
* [Original post](https://listes.renater.fr/sympa/arcsearch_id/sympa-users/2018-02/7b210d93-9229-9dbd-4393-7c7b280bcf99%40id.uzh.ch)

[2018-02-23 00:28] agouaux opened #207 "merge_feature does not update "To:" header"
The email personalization via `merge_feature on` only seems to impact the message body, not any of the headers.  It would be great if `merge_feature` also updated the "To:" header.  So, assuming `verp_rate 100%` also set, have the "To:" header be the specific recipient instead of the list address.

[2018-02-23 11:20] racke commented on #207
At least an option for that would be useful.

[2018-02-24 11:29] ikedas commented on #190
@qosobrin and all, thanks for testing!  Is there any problem? If it looks nothing, I’ll close this issue.

[2018-02-26 13:25] ikedas commented on #178
Hi @nzoueidi,

Can you show us the messages of problem? We want to see raw messages (all of content and full header).

[2018-02-27 10:07] ydelattre opened #212 "Notification not sent to the owner when a list is confirmed by a listmaster"
Hi,

with sympa version 6.2.24, the notification is not sent to the owner when a list is confirmed by a listmaster.
Only the notification to the listmaster is sent.

We did some debug.
It appears the value of the "notify owner" checkbox is not passed to the confirm_action.tt2

From confirm action page :

[code]

The value is correct in the page's post parameters :

[code]

Thanks for your help.

[2018-02-28 03:26] ikedas commented on #212
Hi @ydelattre,

Can you apply [this patch](https://github.com/ikedas/sympa/commit/f22b139.patch) and check if problem you reported will be solved? Thanks.

[2018-02-28 03:47] ikedas commented on #201
It was removed.

[2018-02-28 03:47] #201 closed

[2018-02-28 03:54] ikedas commented on #193
Please [a patch](https://github.com/sympa-community/sympa/compare/sympa-6.2...ikedas:issue-193.patch) to fix problem.

[2018-02-28 04:57] ikedas commented on #206
I could reproduced with Firefox 57, and confirmed the problem will be fixed by PR above.
Closed.

[2018-02-28 04:57] #206 closed

[2018-02-28 08:35] ydelattre commented on #212
Hi @ikedas,

this patch solve the issue :)
Thanks a lot for your reactivity !

[2018-02-28 08:40] ikedas commented on #212
Thanks for confirmation.

The patch was applied. This issue is closed.

[2018-02-28 09:03] #212 closed

[2018-02-28 17:39] qosobrin commented on #198
I am finally giving a try to the version included in Debian Stretch. As far as I could test this bug is not included in that 6.2.x version.

Thank you very much.
Best regards.

[2018-02-28 17:39] #198 closed

[2018-02-28 17:58] qosobrin opened #215 "Lack of automatic spool directory causes some errors in log files"
I am using sympa, version 6.2.16, which I installed from the Debian Stretch package. After renaming a list I noticed the following error in sympa.log:
[code]
which was caused because the directory /var/spool/sympa/automatic (related to  the queueautomatic variable) was missing. I went on and created it manually but, afterwards, I realized that some other spool directories had been created on deman

[2018-03-01 08:22] ikedas commented on #215
Hi @qosobrin,

This problem seems fixed on 6.2.23b.1. Please check 6.2.24 or later if possible.

[2018-03-01 09:38] qosobrin commented on #215
Ok, thanks. Regards.

[2018-03-01 09:38] #215 closed

[2018-03-01 12:46] qosobrin opened #216 "Unify scenario names"
I understand that this is just a matter of aesthetics here and my request is not very important, but there are some scenarios named:
[code]
while others are named using a different pattern:
[code]
Only one pattern would be desirable, either archive_mail_access.* and archive_web_access.* , or access_web_archive.* and access_mail_archive.*

Thank you very much.
Regards.

[2018-03-01 23:00] ikedas commented on #216
@qosobrin, I agree to consistent naming. Please go on.

[2018-03-02 08:50] mdurandGH commented on #193
Thanks @ikedas and @racke for your returns and patch !
The Framalistes team has been informed and will integrate the patch with the next service update (unknown date by now).

[2018-03-02 12:10] frisky-gh opened #218 "Cannot set Japanese charactors in list subject"
At setting page "/wws/edit_list_request/LIST-ID/description", I cannot set Japanese characters in list subject.
If I set subject including characters such as "あ", those characters store as invalid, such as "ÃÂ".
I use sympa-6.2.16 (debian stable).

It is caused by character encoding. Perhaps, it will be fixed following patch:

[code]

[2018-03-02 13:58] ikedas commented on #218
Hi @frisky-gh,

確証はないですが、この件はSympa 6.2.24で直っているかもしれません (#134)。busterで試していただくことは可能でしょうか。

I’m not sure but the bug possibly fixed by Smpa 6.2.24 (see issue #134).  Could you please check the buster?

[2018-03-02 17:06] xavierba opened #219 "No sample httpd and lighttpd conf"
Hi,

I've noticed some configurations are generated at build time for nginx, but not httpd nor lighttpd.
As the Fedora/EPEL package do provide these confs, I quickly hacked up a proof of concept that can be found here:
https://github.com/xavierba/sympa/tree/generate_httpd_conf

Is there any interest in this ?
The configurations are most probably not optimal and should be discussed to match everyon

[2018-03-02 17:34] xavierba opened #220 "static_content directory structure"
Hi,

The static_content directory structure is currently as follow (modified for readability):
.
├── external
│   ├── font-awesome
│   │   ├── css
│   │   └── fonts
│   ├── foundation
│   │   ├── css
│   │   └── js
│   ├── html5shiv
│   ├── images (this is the jquery-ui smoothness theme)
│   ├── jqplot.js
│   ├── jquery.js
│   ├── jquery-migrate.js
│   ├── jquery-ui.js
│   ├── modernizr.custom.js

[2018-03-03 08:01] ikedas commented on #172
Changes look done.  I'll close this issue.

[2018-03-03 10:22] #190 closed

[2018-03-03 11:21] #44 closed

[2018-03-06 03:13] ikedas commented on #11
Modification to fix the bug fundamentally needs some time, and I will apply tentative patch above.  Milestone is postponed to 6.2.28.

[2018-03-06 03:23] frisky-gh commented on #218
ありがとうございます。
Sympa 6.2.24 (buster) で修正されていることを確認できました。

[2018-03-06 03:23] #218 closed

[2018-03-06 03:57] ikedas commented on #218
Duplicate of #134.

[2018-03-06 04:51] ikedas commented on #193
@mdurandGH, thanks for information.  Closed.

[2018-03-06 04:51] #193 closed

[2018-03-07 00:36] taggart opened #224 "DMARC and Reply-to munging"
We are seeing a weird corner case, when the "reply_to_header" setting is set to "list" and dmarc_protection_mode is on (we're using "dmarc_reject,dmarc_quarantine") then Reply-to is getting set to the original sender rather than the list. I think the "reply_to_header" setting should have precedent over the DMARC stuff.

We are seeing this on 6.1, I haven't tried to repeat on 6.2 but it should be e

[2018-03-07 08:15] ikedas commented on #224
Hi @taggart,

Could you please check also 6.2?  There seems difference between 6.1 and 6.2 (former modifys Reply-To after DMARC protection, OTOH latter does in reversed order).

Additionally, the behavior seems to be changed by `forced` subparameter of `reply_to_header` list parameter. Please check it together.

[2018-03-08 04:24] ikedas commented on #219
I found that files for nginx may also be used for Apache with small change (sympa-community/sympa-community.github.io#9).  File names would be rethought.

Besides, I feel it thought one. There may be various configurations for various platforms or situations (see [here](https://github.com/sympa-community/sympa-community.github.io/tree/master/manual/install) and [here](https://github.com/sympa-comm

[2018-03-08 15:08] racke commented on #219
Also we can make these configurations available in our Ansible project.

[2018-03-08 16:37] xavierba commented on #219
Actually, when I first encountered sympa some years ago, the doc was probably not as good as it is now and I remember having struggled with the httpd config. That's why I thought having some sample configurations to look at would be helpful. Using distro packages is probably a much better starting point than compiling from source for a newcomer, but not all distros are packaging sympa (yet :-)) an

[2018-03-08 20:16] jonccrice opened #226 "Message-ID increment failing"
We have a number of e-lists where the Message-ID of does not increment.
Some of them increment intermittently.
These all appear to be in the same list family.
Sample list config attached.
[announcements-all.config.txt](https://github.com/sympa-community/sympa/files/1794650/announcements-all.config.txt)

[2018-03-09 03:24] ikedas commented on #226
Hi @jonccrice,

  - What version of Sympa are you using?
  - I understand "Message-ID" is sequence number prepended to message subject. Am I right?

[2018-03-09 14:19] jonccrice commented on #226
Hi!

We running Sympa version 6.1.15.
The message-id I referring to is in the message header.
For example, in the e-list announcements-all@elist.tufts.edu<mailto:announcements-all@elist.tufts.edu> the message header field (Message-ID:)
The sample message header below show the value of the Message-ID field to be <announcements-all.115@anonymous> .
The 115 number is not incrementing reliably.

Recei

[2018-03-09 15:08] ikedas commented on #226
I got it.  This bug seems fixed on recent version, Sympa 6.2.24 (#105).
Unfortunately, there is no plan to fix it on Sympa 6.1.x.
Could you please consider upgrading Sympa?

[2018-03-09 15:51] jonccrice commented on #226
Thank you for the update. This helps clarify the issue we are seeing which is seems to be with large e-lists that are LDAP-based.
In the meantime, is there any reason we can’t manually update the message ID (1st entry in the stats file) so that we can ensure that the message ID is updated?

Best Regards,

Jon

Tufts Technology Services (TTS)
169 Holland Street
Somerville, MA 02144
Phone: (617) 627

[2018-03-09 19:03] taggart commented on #224
Yes, I have also seen that "forced" makes it use the list and that "respect" uses the DMARC setting. MY guess is that the DMARC is munging earlier in the process and that when the list specific setting is checked it sees the Reply-to that the DMARC munging added and treats it the same as one added by a users MUA. Some options:

0) maybe it's doing the correct thing already, it _is_ respecting the

[2018-03-10 03:16] ikedas commented on #226
@jcdelepine,

Yes, the 1st entry represents the most recent message ID.  You can edit `stats` file to change this entry to be expected number for the last message.

[2018-03-10 04:37] ikedas commented on #216
@qosobrin, your PR was merged. Thanks for good change!

[2018-03-10 04:37] #216 closed

[2018-03-10 04:54] ikedas commented on #219
It looks making sense for me.  We may bundle following items:
  - Startup items: systemd unit, sysVinit (and possiblly others: e.g. I personally wrote simple rc file for FreeBSD)
  - For sympa core services and FastCGI services (wwsympa, sympa_soap_server).  Configuration for MTA and HTTPd are excluded.

[2018-03-11 06:26] ikedas commented on #224
Although it's a bit verbose, I'll write what Sympa does.

Description below is based on Sympa 6.2.24.  Sympa 6.1.x may behave reversed order, i.e. processes 2., then 1.

----

  1. If there is no `Reply-To:` field, or `reply_to_header.apply` is `forced`:

       - If `reply_to_header.value` is `list`:

         Overwrite `Reply-To:` by list address.

       - If `reply_to_header.value` is `sender`

[2018-03-11 12:19] ikedas commented on #172
Reopened to fix bug described in PR above.

[2018-03-11 18:12] qosobrin commented on #216
Sorry for the delay. I was out for a while. Thank you for the merge.

[2018-03-12 08:05] ikedas commented on #172
Seems fixed. Close.

[2018-03-12 08:05] #172 closed

[2018-03-13 08:16] bmarchal54 opened #230 "Date in 'subscriber option' in epoch format"
Hello,

When I want to view 'Member since' or 'Last update' in 'subscriber option', the date display is in epoch format (not in french or english format).
\-------
Member since:
1520928561
Last update:
1520928561
\-------
I do not know if I forgot to install a module, but the initial check of Sympa does not give me any problem.

Have a good day

[2018-03-13 15:07] dverdin commented on #147
I strongly concur with the riddance of Sybase.
The 2015 survey is clear: nobody uses it anymore.

[2018-03-13 15:10] ikedas commented on #147
Then I agree to drop support for Sybase.

[2018-03-13 15:27] xavierba opened #231 "Conf edition through web interface is broken"
Hi,

After having a hard time finding how to enable sympa.conf edition through the web interface (copy and edit default/web_tt2/edit_config.tt2), I found out that the table layout is completely broken.
Thus my request has 2 parts:
- Fix table layout when WUI edition is enabled.
- Toggle the feature with a real conf parameter in sympa.conf.

Regards,
Xavier

[2018-03-13 15:38] xavierba commented on #231
Another question, I noticed the ```cookie``` is not obfuscated.  Is that expected ?

[2018-03-14 06:19] ikedas commented on #224
@taggart, are these right?

  - On Sympa 6.1 (processes 1. then 2. in comment above), in following condition:
      1. Original message does not have `Reply-To:` header,
      2. `dmarc_protection.mode` is set,
      3. `dmarc_protection.mode` does not match with recipient domain (e.g. `dmarc_protection.mode` is `dmarc_quarantine` and policy of recipient domain is `p=quarantine`),
      4. `reply_

[2018-03-14 07:07] ikedas commented on #230
Hi @bmarchal54,

What version of Sympa are you using?

Regards,

[2018-03-14 07:15] bmarchal54 commented on #230
Hi

oups I forgot to specify
I am using version 6.2.24

Thanks

----- Le 14 Mar 18, à 8:07, IKEDA Soji <notifications@github.com> a écrit :

--
Benoît MARCHAL
Sous direction Infrastructure & Services
Direction du Numérique
Université de Lorraine
Tél : 03.72.74.11.39
mél : Benoit.Marchal@univ-lorraine.fr

[2018-03-14 07:46] sivertkh opened #232 "Feature request: add support for the subscribers.db.dump format in sympa.pl --import"
sympa.pl --import does only support data on the form \<address\> \<name\>. It would be nice to be able to import subscribers.db.dump files as well. The code to support this should already exist as sympa imports these files when a list i reactivated.

[2018-03-14 18:53] qosobrin opened #233 "Anyone can unsubscribe a member of a list with open scenario"
Debian Stretch 9.4 and Sympa Package 6.2.16 environment.

I have one list (list@lists.domain.org) configured with unsubscribe.open scenario:

[code]

and three users: user_a@domain.org, user_b@domain.org and user_c@domain.org Both users A and B are members of the list, while user C is not.

When either user A (member) or user C (not member) sends a message to sympa@lists.domain.org with the follow

[2018-03-15 12:46] renesepp opened #234 "Sympa ldap search escapes chars incorrect"
AD dn view: **OU=Asekantsleri vv (kõrgharidus, teadus ja,OU=....**
tcpdump network capture to see how sympa escapes chars:
**OU=Asekantsleri vv \28k\303\265rgharidus\5C, teadus ja,OU=...**
Error:

As you can see the appearance after \5C is not correctly escaped. I know its bad that AD tree contains "," chars.
So maybe bug?

[2018-03-15 21:31] qosobrin opened #235 "add.closed scenari can be cincumvented by owner through the web interface"
Debian Stretch 9.4 and Sympa Package 6.2.16 environment.

I have a list configured with add.closed scenario:
[code]
and subscribe.auth_owner scenario:
[code]
User A is the owner and user B is a non-member that requests subscription to the list. User A (the owner) receives the subscription request email and when he/she confirms it (via email) an error is generated telling him/her that it is not pos

[2018-03-16 01:16] ikedas commented on #230
@bmarchal54,
If possible, please apply [this patch](https://patch-diff.githubusercontent.com/raw/sympa-community/sympa/pull/236.patch) and check if the problem is solved.  Or, please wait for Sympa 6.2.26.

[2018-03-16 01:27] ikedas commented on #235
Hi @qosobrin,

Could you please check recent version of Sympa? Large amount of fixes and changes have been made after 6.2.16.

[2018-03-16 01:33] ikedas commented on #234
Hi @renesepp,

Can you show us datasource setting (e.g. `include_ldap_query`) of Sympa?

[2018-03-16 04:09] ikedas commented on #147
@dverdin, please let me know where can we see the result of 2015 survey?

[2018-03-16 07:31] bmarchal54 commented on #230
Hello,

Thank you very much, it's perfect.

Why will the next stable version be 6.2.26 instead of 6.2.25?

Best regards

----- Le 16 Mar 18, à 2:16, IKEDA Soji <notifications@github.com> a écrit :

--
Benoît MARCHAL
Sous direction Infrastructure & Services
Direction du Numérique
Université de Lorraine
Tél : 03.72.74.11.39
mél : Benoit.Marchal@univ-lorraine.fr

[2018-03-16 07:38] ikedas commented on #230
@bmarchal54, thanks for confirming.  I'll merge it later.

Please see issue#21. That's why stable releases have even version numbers.

[2018-03-16 08:01] renesepp commented on #234
include_ldap_2level_query
name  ad_group_globalad[% param.0 %]
host ad_server
port  3268
use_ssl no
ssl_version tls
suffix1 DC=sise
filter1 (&(cn=[% param.0 %])(objectClass=group))
attrs1  member
select1 all
timeout1 60
scope1 sub
suffix2 [attrs1]
filter2 (objectClass=person)
attrs2 mail
select2 first
scope2 base
timeout2 10

[2018-03-16 08:09] bmarchal54 commented on #230
I understand better now
I use rpm too so I agree with you.

----- Le 16 Mar 18, à 8:38, IKEDA Soji <notifications@github.com> a écrit :

--
Benoît MARCHAL
Sous direction Infrastructure & Services
Direction du Numérique
Université de Lorraine
Tél : 03.72.74.11.39
mél : Benoit.Marchal@univ-lorraine.fr

[2018-03-16 08:40] ikedas commented on #234
Hi @renesepp,

So what parameter is assigned to `[% param.0 %]`?

And I want to clarify about packet dump: Which party (Sympa or AD) and when (in conversation between them) it was sent?
Additionally if possible, could you show hex dump along with text of DN (mixing escape is complicating)?

[2018-03-16 10:42] renesepp commented on #234
Hi @ikedas,

1) source_parameter(group name)
2)Sympa, 2 level query I think
Sympa sent to AD

10.1.220.3   ->	10.1.7.100	LDAP	378	searchRequest(210) "CN=Example User,OU=Teadusosakond,OU=Asekantsleri vv \28k\303\265rgharidus\5C, teadus ja,OU=Kantsleri vastutusvaldkond,OU=Haridus- ja Teadusministeerium,OU=Haridus- ja Teadusministeeriumi valitsemisala,OU=Kasutajad,DC=riik,DC=sise" baseObject

AD serv

[2018-03-16 13:10] ikedas commented on #234
@renesepp,

I got it.  Sympa seems badly escaping result of the first level LDAP search operation at [this line](https://github.com/sympa-community/sympa/blob/6.2.24/src/lib/Sympa/List.pm#L5266) in Sympa/List.pm:
[code]
Can you remove (or comment out) the line above and check if AD won't complain?

[2018-03-16 13:50] renesepp commented on #234
@ikedas

Seems to fix the issue after commenting out above line you mentioned.

[2018-03-16 15:17] bmarchal54 commented on #230
Hello

We have the same problem with subscription :

Your subscription is suspended. From: 1521154800 To: 1521759600
-----------------------------------------------

--- suboptions.tt2 2018-03-16 16:09:23.549167120 +0100
+++ suboptions.tt2-old 2018-03-16 16:07:34.336788231 +0100
@@ -81,11 +81,11 @@
<p>[%|loc%]Your subscription is suspended.[%END%]</p>

<label>[%|loc%]From:[%END%] </label>
- [%|loc

[2018-03-17 08:32] ikedas commented on #234
@renesepp, thanks for confirming. As I wrote, we may need some time for complete fix.

[2018-03-17 09:33] ikedas commented on #230
Fixes will be included in the next stable, Sympa 6.2.26.  Thanks for reporting bugs!

[2018-03-17 09:33] #230 closed

[2018-03-20 08:20] ikedas commented on #87
6.2.26 introduced bcrypt password hash, then MD5 hash may be obsoleted: See also PR #225, #238.

On the other hand, password encrypted by RC4 is still supported.  Thus I propose:

  1. Deprecation of RC4:
       - Password storage encrypted by RC4 would be deprecated.
       - These may be decrypted and hashed during upgrading process.
  2. As well, encryption of session ID in HTTP cookie: It hard

[2018-03-20 14:58] qosobrin commented on #167
I was able to reproduce the problem in 6.2.26 but it disappeared when, after setting the new password, I closed the browser and opened it again. After that, the new password worked flawlessly.

[2018-03-20 15:09] ikedas commented on #167
I (and another user on the same server) reproduced this bug on 6.2.20 and 6.2.22.  Though it is not necessarily the reason, both of them have listmaster privilege and are registered as privileged owners of several lists.

[2018-03-20 15:20] qosobrin commented on #235
I have just checked 6.2.26 and the problem seems to be resolved. The list owner can moderate the subscription requests, but the only buttons available are "Toggle Selection" and "Reject selected addresses".

[2018-03-22 09:27] lspagnol opened #240 "PostgreSQL: Unable to edit owners/subscribers with 6.2.26 and 6.2.28"
Theses versions introduce an attempt to solve sync problems with database, but the following code is a regression (impossible to update Owner / subscriber):
Note: solution was given by Jean-Luc Oms on list sympa-fr AT listes DOT renater DOT fr

[code]

[2018-03-22 10:35] ikedas commented on #240
Hi @lspagnol,
Could you please show us how you reproduce this bug step by step? (Show page “xxxx”, enter address to “xxxx”, click “xxxx” button and so on).  Thanks.

[2018-03-22 10:47] lspagnol commented on #240
https://listes.univ-reims.fr/sympa/create_list_request
name of list "test3"
check an fill "List type", "Object" , "Public", and "Description"
Send
Result in WebUI => "Erreur de configuration", Owner is empty
The list isn't accessible via WebUI, but was created. Config file looks OK (/home/sympa/list_data/univ-reims.fr/test2/config): I'm owner, there is nothing in DB.
I found something interesting

[2018-03-22 10:49] lspagnol commented on #240
Please note that I have another critical problem: removing subscriber in list is OK, but it is impossible to add subscriber.
I have updated from 6.2.22 to 6.2.26 tuesday and from 6.2.26 to 6.2.28 today

[2018-03-22 11:12] ikedas commented on #240
Hi @lspagnol,

As the case of owner, could you please describe what you did about subscriber step by step?

Additionally, please

[2018-03-22 11:28] ikedas commented on #240
Hi @lspagnol,

On owners:

Can you use `psql`? If you can, please check if:
  - `date_admin` column of `admin_table` has NOT NULL constraint, and
  - `date_subscriber` column of `subscriber_table` has NOT NULL constraint.

If they are, drop NOT NULL constraint issuing these query:
[code]

Then please check if you can add owner and subscriber.

[2018-03-22 12:31] lspagnol commented on #240
I confirm:
- date_admin column of admin_table has NOT NULL constraint
- date_subscriber column of subscriber_table has NOT NULL constraint
I've done modification:

I've do some tests:
ADD subscriber to a list => OK
REMOVE  subscriber from a list => OK
Create new list => OK
ADD and REMOVE owner => OK
ADD and REMOVE moderator => OK
The problems seems to be solved:
- unable to create new list via Web